Assets/[ibusiness] Prospecção IA com Scrapping.json
{
  "name": "[ibusiness] Prospecção IA com Scrapping",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "content",
        "options": {}
      },
      "id": "d089f831-5e2b-4258-a3f0-39f9d514c777",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2224,
        672
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "painelProspectaIA",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        80,
        672
      ],
      "id": "7ba90bb1-6662-4f73-968d-b0382903ee9e",
      "name": "Webhook",
      "webhookId": "5c87749e-516f-4c7f-9425-7f6a47a9bc56"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1776,
        672
      ],
      "id": "0ff401af-bad5-4c26-96f6-c0874ee6a17c",
      "name": "Aguardar Mensagem",
      "webhookId": "32812baf-d140-4ddc-8d34-a5729d4f2887"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2880,
        464
      ],
      "id": "d8410f88-a9ac-43e5-97e7-2835dd123504",
      "name": "Finalizou"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bc2a1451-2a6d-450e-8adf-b4fc1fd342d7",
              "name": "server_url",
              "value": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"evolution_config\"][\"url\"] }}",
              "type": "string"
            },
            {
              "id": "31ef30af-2137-4896-b7ca-99e154646676",
              "name": "instancia",
              "value": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"evolution_config\"][\"instancia\"] }}",
              "type": "string"
            },
            {
              "id": "3bf78965-9d9f-4710-8822-42b592d1533d",
              "name": "api_key",
              "value": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"evolution_config\"][\"apikey\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5b6e9042-948c-4ede-8c8a-8c9a900e7c80",
      "name": "Evolution API",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        672
      ]
    },
    {
      "parameters": {
        "url": "=https://r.jina.ai/{{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospect\"][\"site_empresa\"] }}",
        "options": {}
      },
      "id": "99e7bd9a-b265-4173-8153-1fdb4e93bde4",
      "name": "Scraper Site",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1184,
        544
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1cba9986-342d-4bdf-b4af-94b56de82b6b",
              "leftValue": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospect\"][\"site_empresa\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "2c1e833d-b3a1-47fb-9c43-9635ddb17d90",
              "leftValue": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospect\"][\"site_empresa\"] }}",
              "rightValue": "www.instagram.com",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "57a4c36c-ce81-449f-bae2-1c0244739a89",
              "leftValue": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospect\"][\"site_empresa\"] }}",
              "rightValue": "https://wa.me/",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "31366c26-98d0-414a-99da-502ec7e0a587",
      "name": "Verificar Site",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        960,
        672
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI-2025-04-14"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $item(\"0\").$node[\"prompt\"].json[\"prompt\"] }} {{ $item(\"0\").$node[\"prompt\"].json[\"system\"] }}",
              "role": "system"
            },
            {
              "content": "=Nome da empresa: {{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospect\"][\"nome_empresa\"] }}\nRating no Google: {{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospect\"][\"rating_google\"] }}\nReviews no google:  {{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospect\"][\"reviews_google\"] }}\nEspecialidades: {{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospect\"][\"especialidades\"] }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "abcad73b-72e6-40a8-9225-005f9a1f1541",
      "name": "OpenAI Sem Site",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        1408,
        736
      ],
      "credentials": {
        "openAiApi": {
          "id": "PfnzzRnFx32fKI6G",
          "name": "OpenAi Igor"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI-2025-04-14"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $item(\"0\").$node[\"prompt\"].json[\"prompt\"] }} {{ $item(\"0\").$node[\"prompt\"].json[\"system\"] }}",
              "role": "system"
            },
            {
              "content": "=Nome da empresa: {{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospect\"][\"nome_empresa\"] }}\nScraper do site da empresa: {{ $item(\"0\").$node[\"Scraper Site\"].json[\"data\"] || \"\" }}\nRating no Google: {{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospect\"][\"rating_google\"] }}\nReviews no google:  {{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospect\"][\"reviews_google\"] }}\nEspecialidades: {{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospect\"][\"especialidades\"] }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "d4054f33-0363-4281-b8eb-d961b89855dd",
      "name": "OpenAI Com Site",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        1408,
        544
      ],
      "credentials": {
        "openAiApi": {
          "id": "PfnzzRnFx32fKI6G",
          "name": "OpenAi Igor"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $item(\"0\").$node[\"Evolution API\"].json[\"server_url\"] }}/message/sendText/{{ $item(\"0\").$node[\"Evolution API\"].json[\"instancia\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $item(\"0\").$node[\"Evolution API\"].json[\"api_key\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospect\"][\"telefone\"] }}"
            },
            {
              "name": "text",
              "value": "={{ $item(0).$node[\"Loop Over Items\"].json[\"message\"] || $item(\"0\").$node[\"prompt\"].json[\"mensagemPadrao\"] }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "0c9ea36d-4abb-4e7a-967a-6bc09013a3af",
      "name": "Envia WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2672,
        672
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6d1d590b-c9a3-480c-bc1f-705278d96300",
              "name": "content",
              "value": "={{ $item(\"0\").$node[\"Aguardar Mensagem\"].json[\"message\"][\"content\"][\"messages\"] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "f5e70a1e-36bb-449a-88b3-4c82bd54281d",
      "name": "Mensagens",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2000,
        672
      ]
    },
    {
      "parameters": {},
      "id": "9402050d-10f9-4d86-a073-355151893c97",
      "name": "Aguardar Envio",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2880,
        752
      ],
      "webhookId": "c6fd5756-6f8c-41fd-8f7b-3310c9cd3790"
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {
          "reset": "={{ $node[\"Loop Over Items\"].context[\"done\"]}}"
        }
      },
      "id": "8cf30e72-a48b-43a7-9c36-ded74f73449f",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2448,
        672
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e5658139-5f83-4c9f-ace7-42ce10a6adf0",
              "name": "prompt",
              "value": "{\n  \"quem_voce_e\": \"Você é um copywriter sênior especializado em marketing conversacional e vendas consultivas, com mais de 20 anos de experiência em comunicação persuasiva. Sua personalidade combina expertise técnica com abordagem humanizada — você é estratégico como um consultor de negócios, empático como um psicólogo e persuasivo como um vendedor top performer. Você entende profundamente como despertar curiosidade genuína e construir conexões através de mensagens personalizadas.\",\n\n  \"seu_objetivo\": \"Criar sequências de mensagens no WhatsApp altamente personalizadas para promover a ibusiness — consultoria especializada em inteligência comercial, com foco em automação e inteligência artificial para aumento de produtividade e redução de custos.\",\n\n  \"instrucoes\": {\n    \"processo_de_criacao\": [\n      \"Análise dos dados fornecidos: Identifique elementos únicos sobre a empresa-alvo\",\n      \"Adaptação ao segmento: Ajuste linguagem e abordagem conforme o nicho de transporte\",\n      \"Aplicação da fórmula PAS:\\n- Problem: Identifique desafio relevante do setor\\n- Agitation: Conecte com consequências reais\\n- Solution: Apresente a solução de automação e inteligência artificial da ibusiness como solução\"\n    ],\n    \n    \"diretrizes_de_copywriting\": {\n      \"tom\": \"Consultivo, profissional, genuinamente interessado\",\n      \"linguagem\": \"Clara, direta, sem jargões técnicos\",\n      \"personalizacao\": \"Demonstrar conhecimento real sobre a empresa\",\n      \"emojis\": \"2-3 estrategicamente posicionados (nunca iniciando frases)\",\n      \"abordagem\": \"Focada em valor agregado, não em venda\"\n    },\n\n    \"criterios_de_rating\": {\n      \"rating_positivo\": \"Elogiar avaliações como diferencial competitivo\",\n      \"rating_baixo\": \"Sugerir melhoria sutil através da solução\"\n    },\n\n    \"adaptacoes_por_segmento\": {\n      \"transportes\": \"Foco em cotação de frete, aumento de produtividade e redução de custos no atendimento ao cliente\",\n      \"advocacia\": \"Foco em atender rapida e tecnicamente os clientes que procuram o escritório, aumentando a possibilidade de conversão\",\n      \"comercio_varejo\": \"Foco em conversão e experiência do cliente\",\n      \"servicos_profissionais\": \"Ênfase em qualificação de leads\",\n      \"restaurantes_food\": \"Destaque para atendimento e pedidos automatizados\",\n      \"saude_bem_estar\": \"Agendamentos e comunicação humanizada\"\n    }\n  }\n}\n",
              "type": "string"
            },
            {
              "id": "02ba0968-7273-4110-8867-af5894dacbc3",
              "name": "mensagemPadrao",
              "value": "Olá, tudo bem? Vi sua empresa há pouco no Google Maps e ficaria feliz em te apresentar como temos ajudado nossos clientes a aumentar a produtividade e a reduzir custos usando automações e IA para WhatsApp. O que acha de batermos um papo rápido sobre o assunto?\n(A propósito, eu sou uma IA e esse é um dos produtos da ibusiness Consultoria).",
              "type": "string"
            },
            {
              "id": "0f4e1498-4a51-40bf-aafd-f88c91c5016a",
              "name": "system",
              "value": "{\n  \"estrutura_obrigatoria\": [\n    \"A resposta deve ser exclusivamente no seguinte formato JSON. Não inclua textos explicativos nem outras chaves. Nenhuma variação de nome é permitida. Apenas:\\n\\n{\\n  \\\"messages\\\": [\\n    {\\n      \\\"part\\\": 1,\\n      \\\"message\\\": \\\"Mensagem 1 com 40-70 tokens\\\"\\n    },\\n    {\\n      \\\"part\\\": 2,\\n      \\\"message\\\": \\\"Mensagem 2 com 40-70 tokens\\\"\\n    },\\n    {\\n      \\\"part\\\": 3,\\n      \\\"message\\\": \\\"Mensagem 3 com 40-70 tokens\\\"\\n    }\\n  ]\\n}\\n\\n❌ Não utilize outras chaves como \\\"result\\\", \\\"response\\\", \\\"responses\\\", \\\"content\\\" ou \\\"choices\\\".\\n✅ Use apenas a chave raiz chamada \\\"messages\\\", contendo um array com 3 objetos.\"\n  ],\n\n  \"restricoes\": {\n    \"limites_tecnicos\": {\n      \"tokens_maximos\": 200,\n      \"formato\": \"JSON conforme estrutura obrigatória\",\n      \"quantidade_mensagens\": 3\n    },\n    \"proibicoes_conteudo\": [\n      \"❌ Táticas de pressão ou urgência artificial\",\n      \"❌ Promessas irrealistas ou exageradas\",\n      \"❌ Linguagem robótica ou templates genéricos\",\n      \"❌ Múltiplas perguntas na mesma mensagem\",\n      \"❌ Jargões técnicos desnecessários\",\n      \"❌ Abordagem de vendas agressivas\",\n      \"❌ Emojis no início de frases ou em excesso\"\n    ],\n    \"comportamento\": [\n      \"Não inventar dados sobre a empresa\",\n      \"Não usar informações não fornecidas nos dados de entrada\",\n      \"Não prometer resultados específicos sem conhecer o negócio\",\n      \"Não usar linguagem que pareça spam\"\n    ]\n  },\n\n  \"importante\": {\n    \"dados_de_entrada_obrigatorios\": [\n      \"Nome da empresa\",\n      \"Segmento/nicho de atuação\",\n      \"Rating/avaliações (quando disponível)\",\n      \"Informações específicas do site coletadas\",\n      \"Dados únicos identificados no scraping\"\n    ],\n    \"formato_de_resposta\": \"{\\n  \\\"messages\\\": [\\n    {\\n      \\\"part\\\": 1,\\n      \\\"message\\\": \\\"Primeira mensagem: 40-70 tokens\\\"\\n    },\\n    {\\n      \\\"part\\\": 2,\\n      \\\"message\\\": \\\"Segunda mensagem: 40-70 tokens\\\"\\n    },\\n    {\\n      \\\"part\\\": 3,\\n      \\\"message\\\": \\\"Terceira mensagem: 40-70 tokens\\\"\\n    }\\n  ]\\n}\",\n    \"criterios_de_qualidade\": [\n      \"✅ Soar como consultor experiente, não vendedor\",\n      \"✅ Demonstrar conhecimento real sobre a empresa\",\n      \"✅ Despertar curiosidade sem ser invasivo\",\n      \"✅ Linguagem natural e conversacional\",\n      \"✅ Pergunta final que incentive resposta\"\n    ],\n    \"falhas\": [\n      \"Mensagens genéricas ou automatizadas\",\n      \"Tom agressivo ou insistente\",\n      \"Linguagem técnica demais ou confusa\",\n      \"Desconexão com a realidade da empresa\",\n      \"Aparência de spam ou template\"\n    ],\n    \"meta_de_performance\": \"Taxa de resposta superior a 40% com personalização genuína e abordagem consultiva\"\n  }\n}\n",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        672
      ],
      "id": "4691c7bb-7a78-42f2-a85b-68b298fe1f90",
      "name": "prompt"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"pt-BR\" data-bs-theme=\"dark\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Prospecta IA - Sistema de Prospecção</title>\n\n    <!-- Bootstrap CSS -->\n    <link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css\" rel=\"stylesheet\">\n    <!-- Bootstrap Icons -->\n    <link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css\">\n    <!-- Leaflet CSS -->\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.css\" />\n    <!-- Leaflet JS -->\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.js\"></script>\n\n    <style>\n        /* Custom styles */\n        .gradient-text {\n            background: linear-gradient(135deg, #0d6efd, #6f42c1);\n            -webkit-background-clip: text;\n            -webkit-text-fill-color: transparent;\n            background-clip: text;\n        }\n\n        .gradient-bg {\n            background: linear-gradient(135deg, #0d6efd, #6f42c1);\n        }\n\n        .gradient-bg-success {\n            background: linear-gradient(135deg, #198754, #0d6efd);\n        }\n\n        .prospect-card {\n            transition: all 0.3s ease;\n            cursor: pointer;\n        }\n\n        .prospect-card:hover {\n            transform: translateY(-2px);\n            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);\n        }\n\n        .prospect-card.selected {\n            border: 2px solid #0d6efd !important;\n            background-color: rgba(13, 110, 253, 0.1);\n        }\n\n        .stats-card {\n            background: linear-gradient(135deg, #f8f9fa, #e9ecef);\n            border-radius: 15px;\n            transition: all 0.3s ease;\n        }\n\n        .stats-card:hover {\n            transform: translateY(-2px);\n            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);\n        }\n\n        [data-bs-theme=\"dark\"] .stats-card {\n            background: linear-gradient(135deg, #212529, #495057);\n        }\n\n        .fade-in {\n            animation: fadeIn 0.3s ease-out;\n        }\n\n        @keyframes fadeIn {\n            from {\n                opacity: 0;\n                transform: translateY(10px);\n            }\n\n            to {\n                opacity: 1;\n                transform: translateY(0);\n            }\n        }\n\n        .webhook-section {\n            background: linear-gradient(135deg, rgba(25, 135, 84, 0.1), rgba(13, 110, 253, 0.1));\n            border-radius: 15px;\n            border: 2px dashed #198754;\n        }\n\n        .search-header {\n            background: linear-gradient(135deg, rgba(13, 110, 253, 0.1), rgba(111, 66, 193, 0.1));\n            border-radius: 15px;\n        }\n\n        .whatsapp-status {\n            font-size: 0.75rem;\n            padding: 2px 6px;\n            border-radius: 12px;\n        }\n\n        .rating-stars {\n            color: #ffc107;\n        }\n\n        .loading-spinner {\n            display: none;\n        }\n\n        .hero-section {\n            background: linear-gradient(135deg, #0d6efd, #6f42c1);\n            color: white;\n            border-radius: 20px;\n            margin-bottom: 2rem;\n        }\n\n        .pagination-controls {\n            background: linear-gradient(135deg, rgba(13, 110, 253, 0.05), rgba(111, 66, 193, 0.05));\n            border-radius: 10px;\n            padding: 15px;\n            margin: 20px 0;\n        }\n\n        #minimap {\n            height: 300px;\n            border-radius: 10px;\n            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);\n        }\n\n        .leaflet-popup-content-wrapper {\n            border-radius: 8px;\n        }\n\n        .prospect-popup {\n            min-width: 200px;\n        }\n\n        .prospect-popup h6 {\n            margin: 0 0 5px 0;\n            color: #0d6efd;\n        }\n\n        .prospect-popup .badge {\n            font-size: 0.7rem;\n        }\n\n        .filter-status {\n            background: rgba(13, 110, 253, 0.1);\n            border: 1px solid rgba(13, 110, 253, 0.3);\n            border-radius: 8px;\n            padding: 8px 12px;\n            font-size: 0.85rem;\n            margin-bottom: 10px;\n        }\n\n        .webhook-status {\n            padding: 10px;\n            border-radius: 8px;\n            margin-top: 10px;\n        }\n\n        .webhook-success {\n            background: rgba(25, 135, 84, 0.1);\n            border: 1px solid #198754;\n            color: #198754;\n        }\n\n        .webhook-error {\n            background: rgba(220, 53, 69, 0.1);\n            border: 1px solid #dc3545;\n            color: #dc3545;\n        }\n\n        .webhook-loading {\n            background: rgba(13, 110, 253, 0.1);\n            border: 1px solid #0d6efd;\n            color: #0d6efd;\n        }\n    </style>\n</head>\n\n<body>\n    <!-- Header -->\n    <nav class=\"navbar navbar-expand-lg bg-body-tertiary shadow-sm\">\n        <div class=\"container-fluid\">\n            <div class=\"navbar-brand d-flex align-items-center\">\n                <div class=\"gradient-bg text-white rounded-3 p-2 me-3\">\n                    <i class=\"bi bi-robot fs-5\"></i>\n                </div>\n                <span class=\"fs-3 fw-bold gradient-text\">Prospecta IA</span>\n            </div>\n\n            <div class=\"d-flex align-items-center gap-2\">\n                <button class=\"btn btn-outline-secondary\" onclick=\"toggleTheme()\" id=\"theme-toggle\">\n                    <i class=\"bi bi-sun\" id=\"theme-icon\"></i>\n                </button>\n                <button class=\"btn btn-outline-secondary\" onclick=\"showConfigModal()\">\n                    <i class=\"bi bi-gear\"></i>\n                </button>\n            </div>\n        </div>\n    </nav>\n\n    <div class=\"container-fluid py-4\">\n        <!-- Hero Section -->\n        <div class=\"hero-section p-4 text-center\">\n            <h1 class=\"display-5 fw-bold mb-3\">\n                <i class=\"bi bi-bullseye me-3\"></i>Prospecção Inteligente com IA\n            </h1>\n            <p class=\"lead mb-0\">Encontre prospects, analise seus sites e envie mensagens personalizadas no WhatsApp com IA</p>\n        </div>\n\n        <div class=\"row g-4\">\n\n            <!-- Coluna Principal: Busca e Resultados -->\n            <div class=\"col-lg-8\">\n                <div class=\"card shadow-sm h-100\">\n                    <div class=\"card-header search-header\">\n                        <div class=\"row align-items-center\">\n                            <div class=\"col\">\n                                <h5 class=\"card-title mb-0\">\n                                    <i class=\"bi bi-search me-2\"></i>Buscar Prospects\n                                </h5>\n                            </div>\n                            <div class=\"col-auto\">\n                                <span class=\"badge bg-primary\" id=\"results-count\">0 empresas encontradas</span>\n                            </div>\n                        </div>\n                    </div>\n                    <div class=\"card-body\">\n                        <!-- Search Form -->\n                        <div class=\"row g-3 mb-4\">\n                            <div class=\"col-md-6\">\n                                <div class=\"input-group input-group-lg\">\n                                    <span class=\"input-group-text\">\n                                        <i class=\"bi bi-search\"></i>\n                                    </span>\n                                    <input type=\"text\" class=\"form-control\" id=\"search-input\"\n                                        placeholder=\"Ex: Petshop em Salvador, Dentista em São Paulo...\"\n                                        onkeyup=\"filterProspects()\" onkeypress=\"handleEnterKey(event)\">\n                                </div>\n                            </div>\n                            <div class=\"col-md-3\">\n                                <select class=\"form-select form-select-lg\" id=\"results-limit\">\n                                    <option value=\"20\">20 resultados</option>\n                                    <option value=\"20\" data-pages=\"2\">40 resultados (2 páginas)</option>\n                                    <option value=\"20\" data-pages=\"3\">60 resultados (3 páginas)</option>\n                                    <option value=\"20\" data-pages=\"5\">100 resultados (5 páginas)</option>\n                                </select>\n                            </div>\n                            <div class=\"col-md-3\">\n                                <button class=\"btn btn-lg gradient-bg text-white w-100\" onclick=\"searchProspects()\">\n                                    <span class=\"loading-spinner spinner-border spinner-border-sm me-2\"\n                                        role=\"status\"></span>\n                                    <span id=\"search-btn-text\">\n                                        <i class=\"bi bi-search me-2\"></i>Buscar\n                                    </span>\n                                </button>\n                            </div>\n                        </div>\n\n                        <!-- Pagination Controls -->\n                        <div class=\"pagination-controls d-none\" id=\"pagination-controls\">\n                            <div class=\"row align-items-center\">\n                                <div class=\"col-md-6\">\n                                    <div class=\"d-flex align-items-center gap-2\">\n                                        <button class=\"btn btn-outline-primary btn-sm\" onclick=\"loadPreviousPage()\"\n                                            id=\"prev-btn\" disabled>\n                                            <i class=\"bi bi-chevron-left\"></i> Anterior\n                                        </button>\n                                        <span class=\"badge bg-light text-dark\" id=\"page-info\">Página 1</span>\n                                        <button class=\"btn btn-outline-primary btn-sm\" onclick=\"loadNextPage()\"\n                                            id=\"next-btn\">\n                                            Próxima <i class=\"bi bi-chevron-right\"></i>\n                                        </button>\n                                    </div>\n                                </div>\n                                <div class=\"col-md-6 text-md-end\">\n                                    <small class=\"text-muted\">\n                                        <i class=\"bi bi-info-circle me-1\"></i>\n                                        Mostrando <span id=\"showing-range\">1-20</span> de <span\n                                            id=\"total-available\">20+</span> resultados disponíveis\n                                    </small>\n                                </div>\n                            </div>\n                        </div>\n\n                        <!-- Filters -->\n                        <div class=\"row g-2 mb-4\">\n                            <div class=\"col-auto\">\n                                <select class=\"form-select form-select-sm\" id=\"whatsapp-filter\"\n                                    onchange=\"applyFilters()\">\n                                    <option value=\"\">Todos</option>\n                                    <option value=\"true\">Apenas com WhatsApp</option>\n                                    <option value=\"false\">Sem WhatsApp</option>\n                                </select>\n                            </div>\n                            <div class=\"col-auto\">\n                                <select class=\"form-select form-select-sm\" id=\"rating-filter\" onchange=\"applyFilters()\">\n                                    <option value=\"\">Todas as avaliações</option>\n                                    <option value=\"4\">4+ estrelas</option>\n                                    <option value=\"3\">3+ estrelas</option>\n                                </select>\n                            </div>\n                            <div class=\"col-auto\">\n                                <button class=\"btn btn-outline-secondary btn-sm\" onclick=\"clearFilters()\">\n                                    <i class=\"bi bi-x-circle me-1\"></i>Limpar\n                                </button>\n                            </div>\n                        </div>\n\n                        <!-- Filter Status -->\n                        <div class=\"filter-status d-none\" id=\"filter-status\">\n                            <small><i class=\"bi bi-funnel me-1\"></i><span id=\"filter-description\"></span></small>\n                        </div>\n\n                        <!-- Action Buttons -->\n                        <div class=\"d-flex justify-content-between align-items-center mb-3\">\n                            <div class=\"d-flex gap-2 flex-wrap\">\n                                <button class=\"btn btn-outline-primary btn-sm\" onclick=\"selectAll()\">\n                                    <i class=\"bi bi-check-all me-1\"></i>Selecionar Página\n                                </button>\n                                <button class=\"btn btn-outline-secondary btn-sm\" onclick=\"clearSelection()\">\n                                    <i class=\"bi bi-x-square me-1\"></i>Limpar Página\n                                </button>\n                                <button class=\"btn btn-outline-danger btn-sm\" onclick=\"clearAllSelections()\"\n                                    title=\"Limpar seleções de todas as páginas\">\n                                    <i class=\"bi bi-trash me-1\"></i>Limpar Tudo\n                                </button>\n                            </div>\n                            <span class=\"text-muted\">\n                                <strong id=\"selected-count\">0</strong> selecionados\n                                <small class=\"text-muted\">(total)</small>\n                            </span>\n                        </div>\n\n                        <!-- Prospects List -->\n                        <div class=\"row g-2\" id=\"prospects-container\">\n                            <!-- Prospects will be loaded here -->\n                        </div>\n\n                        <!-- Empty State -->\n                        <div class=\"text-center py-5 d-none\" id=\"empty-state\">\n                            <i class=\"bi bi-search fs-1 text-muted mb-3\"></i>\n                            <h5 class=\"text-muted\">Nenhum resultado encontrado</h5>\n                            <p class=\"text-muted\">Tente ajustar os filtros ou termos de busca</p>\n                        </div>\n                    </div>\n                </div>\n            </div>\n\n            <!-- Sidebar: Estatísticas e Webhook -->\n            <div class=\"col-lg-4\">\n                <!-- Mini Map -->\n                <div class=\"card shadow-sm mb-4\">\n                    <div class=\"card-header\">\n                        <div class=\"d-flex justify-content-between align-items-center\">\n                            <h6 class=\"card-title mb-0\">\n                                <i class=\"bi bi-geo-alt me-2\"></i>Mapa dos Prospects\n                            </h6>\n                            <div class=\"d-flex gap-1\">\n                                <button class=\"btn btn-outline-secondary btn-sm\" onclick=\"centerMapOnResults()\"\n                                    title=\"Centralizar no resultado\">\n                                    <i class=\"bi bi-crosshair\"></i>\n                                </button>\n                                <button class=\"btn btn-outline-secondary btn-sm\" onclick=\"toggleMapView()\"\n                                    title=\"Alternar vista\">\n                                    <i class=\"bi bi-layers\" id=\"map-view-icon\"></i>\n                                </button>\n                            </div>\n                        </div>\n                    </div>\n                    <div class=\"card-body p-0\">\n                        <div id=\"minimap\"></div>\n                    </div>\n                </div>\n\n                <!-- Statistics -->\n                <div class=\"card shadow-sm mb-4\">\n                    <div class=\"card-header\">\n                        <h6 class=\"card-title mb-0\">\n                            <i class=\"bi bi-bar-chart me-2\"></i>Estatísticas da Página\n                        </h6>\n                    </div>\n                    <div class=\"card-body\">\n                        <div class=\"row g-3\">\n                            <div class=\"col-6\">\n                                <div class=\"stats-card p-3 text-center\">\n                                    <div class=\"fs-2 fw-bold text-success\" id=\"whatsapp-count\">0</div>\n                                    <small class=\"text-muted\">Com WhatsApp</small>\n                                </div>\n                            </div>\n                            <div class=\"col-6\">\n                                <div class=\"stats-card p-3 text-center\">\n                                    <div class=\"fs-2 fw-bold text-danger\" id=\"no-whatsapp-count\">0</div>\n                                    <small class=\"text-muted\">Sem WhatsApp</small>\n                                </div>\n                            </div>\n                            <div class=\"col-6\">\n                                <div class=\"stats-card p-3 text-center\">\n                                    <div class=\"fs-2 fw-bold text-warning\" id=\"avg-rating\">0.0</div>\n                                    <small class=\"text-muted\">Rating Médio</small>\n                                </div>\n                            </div>\n                            <div class=\"col-6\">\n                                <div class=\"stats-card p-3 text-center\">\n                                    <div class=\"fs-2 fw-bold text-info\" id=\"verified-count\">0</div>\n                                    <small class=\"text-muted\">Verificados</small>\n                                </div>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n                <!-- Webhook Section -->\n                <div class=\"webhook-section p-4\">\n                    <div class=\"text-center mb-3\">\n                        <i class=\"bi bi-send-check fs-1 text-primary\"></i>\n                        <h5 class=\"mt-2\">Enviar para IA</h5>\n                        <p class=\"text-muted mb-0\">Envie os dados selecionados via webhook</p>\n                    </div>\n\n                    <div class=\"d-grid gap-2\">\n                        <div class=\"row g-2\">\n                            <div class=\"col-12\">\n                                <button class=\"btn btn-primary btn-lg w-100\" onclick=\"sendToWebhook()\" id=\"webhook-btn\"\n                                    disabled>\n                                    <i class=\"bi bi-send me-2\"></i>\n                                    Enviar <span id=\"webhook-count\">0</span> Selecionados\n                                </button>\n                            </div>\n                            <!-- Control Buttons (hidden by default) -->\n                            <div class=\"col-6 d-none\" id=\"pause-btn-container\">\n                                <button class=\"btn btn-warning w-100\" onclick=\"pauseWebhookSending()\" id=\"pause-btn\">\n                                    <i class=\"bi bi-pause-circle me-2\"></i>Pausar\n                                </button>\n                            </div>\n                            <div class=\"col-6 d-none\" id=\"stop-btn-container\">\n                                <button class=\"btn btn-danger w-100\" onclick=\"stopWebhookSending()\" id=\"stop-btn\">\n                                    <i class=\"bi bi-stop-circle me-2\"></i>Parar\n                                </button>\n                            </div>\n\n                            <div class=\"col-12\">\n                                <button class=\"btn btn-outline-secondary btn-lg w-100\"\n                                    onclick=\"showIntervalConfigModal()\">\n                                    <i class=\"bi bi-clock me-2\"></i>Configurar Intervalos\n                                </button>\n                            </div>\n                        </div>\n                    </div>\n\n                    <!-- Webhook Status -->\n                    <div id=\"webhook-status-container\"></div>\n                </div>\n            </div>\n        </div>\n    </div>\n\n    <!-- Bootstrap JS -->\n    <script src=\"https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js\"></script>\n    <script>\n\n\n// Adicione no início do seu JavaScript, antes de qualquer outra coisa:\n\n// Detectar se está em iframe e tentar quebrar\nif (window.self !== window.top) {\n    try {\n        // Tentar quebrar o iframe (só funciona se mesmo domínio)\n        window.top.location = window.self.location;\n    } catch (e) {\n        console.log('Detectado iframe, adaptando funcionalidades...');\n        \n        // Fallback para localStorage se estiver em iframe\n        if (typeof Storage === \"undefined\") {\n            // Criar um polyfill simples para localStorage\n            window.localStorage = {\n                _data: {},\n                setItem: function(key, value) {\n                    this._data[key] = value;\n                },\n                getItem: function(key) {\n                    return this._data[key] || null;\n                },\n                removeItem: function(key) {\n                    delete this._data[key];\n                },\n                clear: function() {\n                    this._data = {};\n                }\n            };\n        }\n    }\n}\n\n// Função para bypass CORS em iframe\nfunction createCorsProxy(url) {\n    const proxies = [\n        'https://api.codetabs.com/v1/proxy?quest=',\n        'https://api.allorigins.win/get?url=',\n        'https://corsproxy.io/?',\n        'https://cors-proxy.htmldriven.com/?url='\n    ];\n    \n    return proxies[0] + encodeURIComponent(url);\n}\n\n// Wrapper para fetch que funciona em iframe\nasync function safeFetch(url, options = {}) {\n    try {\n        return await fetch(url, options);\n    } catch (error) {\n        if (error.message.includes('CORS') || error.message.includes('blocked')) {\n            console.log('CORS detectado, usando proxy...');\n            return await fetch(createCorsProxy(url), {\n                ...options,\n                method: 'GET' // Proxies geralmente só suportam GET\n            });\n        }\n        throw error;\n    }\n}\n\n      \n        // Apply theme immediately to prevent flash\n        (function () {\n            const savedTheme = localStorage.getItem('prospecta_ia_theme') || 'dark';\n            document.documentElement.setAttribute('data-bs-theme', savedTheme);\n            console.log(`🎨 Tema aplicado imediatamente: ${savedTheme}`);\n        })();\n\n        // Webhook sending control\n        let webhookSendingState = {\n            isRunning: false,\n            isPaused: false,\n            isStopped: false,\n            currentIndex: 0,\n            totalProspects: 0\n        };\n\n        // Global state\n        let selectedProspects = new Set();\n        let filteredProspects = [];\n        let allProspects = [];\n        let searchInProgress = false;\n        let searchResults = [];\n\n        let currentPageProspects = [];\n        let currentFilters = {\n            whatsapp: '',\n            rating: '',\n            search: ''\n        };\n\n        // Debug mode state\n        let debugMode = false;\n\n        // Pagination state\n        let currentPage = 1;\n        let currentSearchTerm = '';\n        let searchCoordinates = null;\n        let hasMoreResults = false;\n        let pagesData = {};\n        let totalPagesLoaded = 0;\n\n        // Map state\n        let miniMap = null;\n        let mapMarkers = [];\n        let currentMapView = 'street';\n\n        // API Configuration\n        const SERPAPI_CONFIG = {\n            baseUrl: 'https://serpapi.com/search',\n            apiKey: '',\n            engine: 'google_maps',\n            corsProxies: [\n                'https://api.codetabs.com/v1/proxy?quest=',\n                'https://api.allorigins.win/get?url=',\n                'https://cors-anywhere.herokuapp.com/'\n            ]\n        };\n\n        // WhatsApp Validation API Configuration\n        const WHATSAPP_API_CONFIG = {\n            baseUrl: '',\n            instance: '',\n            endpoint: '/chat/whatsappNumbers/',\n            apiKey: '',\n            authHeader: 'apikey'\n        };\n\n        // Webhook Configuration\n        const WEBHOOK_CONFIG = {\n            url: ''\n        };\n\n        // Debug logging function\n        function debugLog(message, data = null) {\n            if (!debugMode) return;\n\n            const timestamp = new Date().toISOString();\n            const verbose = true;\n\n            if (verbose) {\n                if (data) {\n                    console.log(`🔍 [${timestamp}] ${message}`, data);\n                } else {\n                    console.log(`🔍 [${timestamp}] ${message}`);\n                }\n            }\n        }\n\n        // Theme functions\n        function setTheme(theme) {\n            const html = document.documentElement;\n            const themeIcon = document.getElementById('theme-icon');\n\n            html.setAttribute('data-bs-theme', theme);\n\n            if (themeIcon) {\n                if (theme === 'dark') {\n                    themeIcon.className = 'bi bi-moon';\n                } else {\n                    themeIcon.className = 'bi bi-sun';\n                }\n            }\n\n            localStorage.setItem('prospecta_ia_theme', theme);\n            debugLog(`Tema alterado para: ${theme}`);\n        }\n\n        function loadThemeFromStorage() {\n            const savedTheme = localStorage.getItem('prospecta_ia_theme') || 'dark';\n            const themeIcon = document.getElementById('theme-icon');\n\n            debugLog(`Atualizando ícone para tema: ${savedTheme}`);\n\n            if (themeIcon) {\n                if (savedTheme === 'dark') {\n                    themeIcon.className = 'bi bi-moon';\n                } else {\n                    themeIcon.className = 'bi bi-sun';\n                }\n            }\n\n            document.documentElement.setAttribute('data-bs-theme', savedTheme);\n        }\n\n        function toggleTheme() {\n            const html = document.documentElement;\n\n            if (html.getAttribute('data-bs-theme') === 'light') {\n                setTheme('dark');\n            } else {\n                setTheme('light');\n            }\n        }\n\n        // Initialize\n        function init() {\n            updateCounts();\n            loadAllConfigs();\n            loadThemeFromStorage();\n            updateSearchButtonState();\n            initializeMap();\n            showWelcomeMessage();\n            updateIntervalDisplay();\n            debugLog('Sistema inicializado');\n        }\n\n        function showWelcomeMessage() {\n            const container = document.getElementById('prospects-container');\n            const emptyState = document.getElementById('empty-state');\n\n            if (container && emptyState) {\n                container.classList.add('d-none');\n                emptyState.classList.remove('d-none');\n\n                emptyState.innerHTML = `\n                    <div class=\"text-center py-5\">\n                        <i class=\"bi bi-robot fs-1 text-primary mb-3\"></i>\n                        <h4 class=\"text-primary mb-3\">Bem-vindo ao Prospecta IA!</h4>\n                        <p class=\"text-muted mb-4\">\n                            Encontre leads qualificados e envie automaticamente para sua IA.<br>\n                            Busque empresas, valide WhatsApp e envie dados via webhook.\n                        </p>\n                        <div class=\"alert alert-info d-inline-block\">\n                            <i class=\"bi bi-gear me-2\"></i>\n                            <strong>Primeiro passo:</strong> Configure suas APIs clicando no ícone da engrenagem <i class=\"bi bi-gear\"></i> no canto superior direito.\n                        </div>\n                        <div class=\"mt-4\">\n                            <button class=\"btn btn-primary me-2\" onclick=\"showConfigModal()\">\n                                <i class=\"bi bi-gear me-2\"></i>Configurar APIs\n                            </button>\n                        </div>\n                    </div>\n                `;\n            }\n        }\n\n        function updateSearchButtonState() {\n            const searchBtn = document.querySelector('.btn.gradient-bg, .btn-secondary');\n            const searchBtnText = document.getElementById('search-btn-text');\n\n            if (!searchBtn || !searchBtnText) {\n                debugLog('Botão de busca não encontrado para atualizar');\n                return;\n            }\n\n            const isConfigured = SERPAPI_CONFIG.apiKey;\n\n            debugLog('Verificando configurações:', {\n                serpapi: !!SERPAPI_CONFIG.apiKey,\n                whatsapp_base: !!WHATSAPP_API_CONFIG.baseUrl,\n                whatsapp_instance: !!WHATSAPP_API_CONFIG.instance,\n                whatsapp_key: !!WHATSAPP_API_CONFIG.apiKey,\n                isConfigured: isConfigured\n            });\n\n            if (isConfigured) {\n                searchBtn.disabled = false;\n                searchBtn.classList.remove('btn-secondary');\n                searchBtn.classList.add('gradient-bg', 'text-white');\n                searchBtn.title = '';\n                searchBtnText.innerHTML = '<i class=\"bi bi-search me-2\"></i>Buscar';\n                debugLog('Botão de busca habilitado');\n            } else {\n                searchBtn.disabled = true;\n                searchBtn.classList.remove('gradient-bg', 'text-white');\n                searchBtn.classList.add('btn-secondary');\n                searchBtn.title = 'Configure o SerpAPI primeiro! Clique na engrenagem.';\n                searchBtnText.innerHTML = '<i class=\"bi bi-gear me-2\"></i>Configure SerpAPI';\n                debugLog('Botão de busca desabilitado - SerpAPI não configurado');\n            }\n        }\n\n        // Apply filters to current page data only\n        function applyFiltersToCurrentPage() {\n            console.log('🔧 INICIANDO applyFiltersToCurrentPage');\n            console.log('🔧 currentPageProspects:', currentPageProspects.length);\n            console.log('🔧 currentFilters:', currentFilters);\n\n            let filtered = [...currentPageProspects];\n            console.log('🔧 Cópia inicial:', filtered.length);\n\n            // Apply search filter\n            if (currentFilters.search && currentFilters.search.trim() !== '') {\n                const searchTerm = currentFilters.search.toLowerCase();\n                const beforeSearch = filtered.length;\n                filtered = filtered.filter(prospect =>\n                    prospect.name.toLowerCase().includes(searchTerm) ||\n                    prospect.endereco.toLowerCase().includes(searchTerm) ||\n                    (prospect.category && prospect.category.toLowerCase().includes(searchTerm)) ||\n                    (prospect.types && prospect.types.toLowerCase().includes(searchTerm))\n                );\n                console.log(`🔧 Após filtro de busca \"${searchTerm}\": ${beforeSearch} → ${filtered.length}`);\n            }\n\n            // Apply WhatsApp filter\n            if (currentFilters.whatsapp !== '') {\n                const beforeWhatsApp = filtered.length;\n                if (currentFilters.whatsapp === 'true') {\n                    filtered = filtered.filter(p => p.hasWhatsApp === true);\n                    console.log(`🔧 Filtro \"Apenas com WhatsApp\": ${beforeWhatsApp} → ${filtered.length}`);\n                } else if (currentFilters.whatsapp === 'false') {\n                    filtered = filtered.filter(p => p.hasWhatsApp === false || p.hasWhatsApp === null);\n                    console.log(`🔧 Filtro \"Sem WhatsApp/Não Verificado\": ${beforeWhatsApp} → ${filtered.length}`);\n                }\n            }\n\n            // Apply rating filter\n            if (currentFilters.rating !== '') {\n                const beforeRating = filtered.length;\n                filtered = filtered.filter(p => (p.rating || 0) >= parseFloat(currentFilters.rating));\n                console.log(`🔧 Após filtro rating \"${currentFilters.rating}\": ${beforeRating} → ${filtered.length}`);\n            }\n\n            filteredProspects = filtered;\n            console.log(`🔧 RESULTADO FINAL: ${currentPageProspects.length} → ${filteredProspects.length} prospects`);\n\n            // Update filter status display\n            updateFilterStatus();\n        }\n\n        // Search prospects using improved debug approach\n        async function searchProspects(pageNum = 1) {\n            debugLog('=== INICIANDO BUSCA DE PROSPECTS ===');\n            debugLog(`Página: ${pageNum}`);\n\n            const searchInput = document.getElementById('search-input');\n            const searchBtn = document.getElementById('search-btn-text');\n            const spinner = document.querySelector('.loading-spinner');\n            const paginationControls = document.getElementById('pagination-controls');\n\n            if (!searchInput || !searchBtn || !spinner) {\n                console.error('Elementos da interface não encontrados');\n                return;\n            }\n\n            if (!SERPAPI_CONFIG.apiKey) {\n                showErrorToast('❌ Configure o SerpAPI primeiro! Clique na engrenagem para configurar.');\n                return;\n            }\n\n            const hasEvolutionAPI = WHATSAPP_API_CONFIG.baseUrl &&\n                WHATSAPP_API_CONFIG.instance &&\n                WHATSAPP_API_CONFIG.apiKey;\n\n            if (!hasEvolutionAPI) {\n                debugLog('⚠️ Evolution API não configurada - WhatsApp será marcado como \"não verificado\"');\n            }\n\n            const searchTerm = searchInput.value.trim();\n\n            if (!searchTerm) {\n                showErrorToast('Por favor, digite um termo de busca');\n                return;\n            }\n\n            const resultsLimitInput = document.getElementById('results-limit');\n            const selectedOption = resultsLimitInput.options[resultsLimitInput.selectedIndex];\n            const targetResults = parseInt(selectedOption.dataset.pages) ?\n                parseInt(selectedOption.dataset.pages) * 20 : 20;\n            const pagesNeeded = Math.ceil(targetResults / 20);\n\n            // If it's a new search (page 1), reset pagination state\n            if (pageNum === 1) {\n                currentSearchTerm = searchTerm;\n                currentFilters.search = '';\n                searchCoordinates = null;\n                currentPage = 1;\n                allProspects = [];\n                selectedProspects.clear();\n                pagesData = {};\n                totalPagesLoaded = 0;\n\n                currentFilters = {\n                    whatsapp: '',\n                    rating: '',\n                    search: ''\n                };\n\n                const whatsappFilter = document.getElementById('whatsapp-filter');\n                const ratingFilter = document.getElementById('rating-filter');\n                if (whatsappFilter) whatsappFilter.value = '';\n                if (ratingFilter) ratingFilter.value = '';\n\n                debugLog('Nova busca iniciada - estado resetado');\n\n                if (pagesNeeded > 1) {\n                    searchBtn.innerHTML = `Buscando ${targetResults} resultados...`;\n                }\n            }\n\n            spinner.style.display = 'inline-block';\n            searchBtn.innerHTML = pageNum === 1 ? 'Buscando...' : `Carregando página ${pageNum}...`;\n\n            try {\n                debugLog('=== ETAPA 1: BUSCANDO NA SERPAPI ===');\n                const apiResponse = await callSerpAPI(searchTerm, pageNum);\n                const results = apiResponse.results || [];\n                debugLog(`SerpAPI retornou: ${results.length} resultados`);\n\n                if (pageNum === 1 && apiResponse.coordinates) {\n                    searchCoordinates = apiResponse.coordinates;\n                    debugLog('Coordenadas salvas para paginação:', searchCoordinates);\n                }\n\n                hasMoreResults = apiResponse.hasMore || false;\n                currentPage = pageNum;\n\n                if (results && results.length > 0) {\n                    debugLog('=== ETAPA 2: EXTRAINDO TELEFONES ===');\n                    const phoneNumbers = extractPhoneNumbers(results);\n                    debugLog(`Números extraídos: ${phoneNumbers.length}`, phoneNumbers);\n\n                    debugLog('=== ETAPA 3: VALIDANDO WHATSAPP ===');\n                    searchBtn.innerHTML = 'Validando WhatsApp...';\n                    const whatsappValidation = await validateWhatsAppNumbers(phoneNumbers);\n                    debugLog('Validação WhatsApp concluída');\n\n                    debugLog('=== ETAPA 4: PROCESSANDO RESULTADOS FINAIS ===');\n                    const processedResults = processResults(results, whatsappValidation);\n\n                    pagesData[pageNum] = processedResults;\n                    totalPagesLoaded = Math.max(totalPagesLoaded, pageNum);\n\n                    currentPage = pageNum;\n                    currentPageProspects = processedResults;\n\n                    console.log('🔧 Dados processados:', processedResults.length);\n                    console.log('🔧 currentPageProspects atribuído:', currentPageProspects.length);\n\n                    applyFiltersToCurrentPage();\n\n                    allProspects = [];\n                    for (let i = 1; i <= totalPagesLoaded; i++) {\n                        if (pagesData[i]) {\n                            allProspects = [...allProspects, ...pagesData[i]];\n                        }\n                    }\n\n                    loadProspects();\n                    updatePaginationControls();\n                    updateMapMarkers();\n\n                    paginationControls.classList.remove('d-none');\n\n                    const totalFound = pageNum === 1 ? results.length : allProspects.length;\n                    showSuccessToast(`🎉 ${pageNum === 1 ? 'Encontrados' : 'Carregados'} ${results.length} novos prospects${pageNum > 1 ? ` (Total: ${totalFound})` : ''}`);\n\n                    debugLog('=== BUSCA CONCLUÍDA COM SUCESSO ===');\n                } else {\n                    if (pageNum === 1) {\n                        showErrorToast('Nenhum resultado encontrado. Tente outros termos de busca.');\n                        paginationControls.classList.add('d-none');\n                    } else {\n                        showErrorToast('Não há mais resultados disponíveis.');\n                    }\n                }\n\n            } catch (error) {\n                console.error('Erro na busca:', error);\n                debugLog('=== ERRO NA BUSCA ===', error);\n                showErrorToast(`Erro ao buscar prospects: ${error.message}`);\n\n                if (pageNum === 1) {\n                    paginationControls.classList.add('d-none');\n                }\n            } finally {\n                spinner.style.display = 'none';\n                searchBtn.innerHTML = '<i class=\"bi bi-search me-2\"></i>Buscar';\n            }\n\n            debugLog('=== BUSCA CONCLUÍDA COM SUCESSO ===');\n            debugLog('Dados finais:', {\n                currentPageProspects: currentPageProspects.length,\n                filteredProspects: filteredProspects.length,\n                allProspects: allProspects.length\n            });\n        }\n\n        // Extract phone numbers from results\n        function extractPhoneNumbers(results) {\n            debugLog('Extraindo números de telefone...');\n\n            const phoneNumbers = [];\n            const phoneSet = new Set();\n\n            results.forEach((result, index) => {\n                const phoneField = result.telefone || result.phone;\n                debugLog(`[${index + 1}] ${result.name || result.title}:`);\n                debugLog(`   Telefone original: \"${phoneField}\"`);\n\n                if (!phoneField || phoneField === 'Telefone não disponível') {\n                    debugLog(`   ❌ Sem telefone válido`);\n                    return;\n                }\n\n                const cleanPhone = phoneField.replace(/\\D/g, '');\n                debugLog(`   Telefone limpo: \"${cleanPhone}\"`);\n                debugLog(`   Tamanho: ${cleanPhone.length} dígitos`);\n\n                if (cleanPhone.length >= 10) {\n                    if (!phoneSet.has(cleanPhone)) {\n                        phoneSet.add(cleanPhone);\n                        phoneNumbers.push(cleanPhone);\n                        debugLog(`   ✅ Número válido adicionado`);\n                    } else {\n                        debugLog(`   ⚠️ Número duplicado ignorado`);\n                    }\n                } else {\n                    debugLog(`   ❌ Número muito curto (< 10 dígitos)`);\n                }\n            });\n\n            debugLog('RESUMO EXTRAÇÃO:', {\n                totalProspects: results.length,\n                numerosValidos: phoneNumbers.length,\n                numerosDuplicados: results.length - phoneNumbers.length,\n                listaNumeros: phoneNumbers\n            });\n\n            return phoneNumbers;\n        }\n\n        // Validate WhatsApp numbers\n        async function validateWhatsAppNumbers(phoneNumbers) {\n            debugLog('=== INÍCIO VALIDAÇÃO WHATSAPP ===');\n            debugLog(`Total de números a validar: ${phoneNumbers.length}`, phoneNumbers);\n\n            if (phoneNumbers.length === 0) {\n                debugLog('Nenhum número para validar');\n                return {};\n            }\n\n            const hasEvolutionAPI = WHATSAPP_API_CONFIG.baseUrl &&\n                WHATSAPP_API_CONFIG.instance &&\n                WHATSAPP_API_CONFIG.apiKey;\n\n            if (!hasEvolutionAPI) {\n                debugLog('⚠️ Evolution API não configurada - retornando validação vazia');\n                showErrorToast('⚠️ Evolution API não configurada. WhatsApp não será validado.');\n                return {};\n            }\n\n            const url = `${WHATSAPP_API_CONFIG.baseUrl}${WHATSAPP_API_CONFIG.endpoint}${WHATSAPP_API_CONFIG.instance}`;\n            debugLog('URL WhatsApp API:', url);\n\n            const requestBody = { numbers: phoneNumbers };\n            debugLog('Request body:', requestBody);\n\n            const headers = {\n                'Content-Type': 'application/json',\n                [WHATSAPP_API_CONFIG.authHeader]: WHATSAPP_API_CONFIG.apiKey\n            };\n            debugLog('Headers (API key oculta):', { ...headers, [WHATSAPP_API_CONFIG.authHeader]: '***' });\n\n            try {\n                debugLog('Enviando requisição...');\n                const response = await fetch(url, {\n                    method: 'POST',\n                    headers: headers,\n                    body: JSON.stringify(requestBody)\n                });\n\n                debugLog(`Status da resposta: ${response.status}`);\n                debugLog('Headers da resposta:', Object.fromEntries(response.headers.entries()));\n\n                if (!response.ok) {\n                    const errorText = await response.text();\n                    debugLog('Erro HTTP:', { status: response.status, error: errorText });\n                    throw new Error(`WhatsApp API error: ${response.status} - ${errorText}`);\n                }\n\n                const responseData = await response.json();\n                debugLog('Resposta RAW:', responseData);\n                debugLog(`Tipo da resposta: ${typeof responseData}, É array: ${Array.isArray(responseData)}`);\n\n                const validationMap = {};\n\n                if (Array.isArray(responseData)) {\n                    debugLog('Processando resposta como array...');\n                    debugLog(`Total de itens na resposta: ${responseData.length}`);\n\n                    responseData.forEach((item, index) => {\n                        debugLog(`[${index + 1}] Processando item:`, item);\n\n                        if (item.number) {\n                            const number = item.number.toString();\n                            const hasWhatsApp = item.exists === true;\n\n                            validationMap[number] = {\n                                hasWhatsApp: hasWhatsApp,\n                                status: hasWhatsApp ? 'verified' : 'no_whatsapp',\n                                jid: item.jid || null,\n                                rawData: item\n                            };\n\n                            debugLog(`   Número: ${number}`);\n                            debugLog(`   Exists: ${item.exists} (tipo: ${typeof item.exists})`);\n                            debugLog(`   Resultado: ${hasWhatsApp ? 'TEM' : 'NÃO TEM'} WhatsApp`);\n                            debugLog(`   JID: ${item.jid || 'N/A'}`);\n                        } else {\n                            debugLog(`   ⚠️ Item sem propriedade 'number':`, item);\n                        }\n                    });\n                } else {\n                    debugLog('⚠️ Resposta não é array:', responseData);\n                    throw new Error('Formato de resposta não reconhecido');\n                }\n\n                const withWhatsApp = Object.values(validationMap).filter(v => v.hasWhatsApp).length;\n                const withoutWhatsApp = Object.values(validationMap).filter(v => !v.hasWhatsApp).length;\n                debugLog('=== RESUMO VALIDAÇÃO WHATSAPP ===', {\n                    totalProcessados: Object.keys(validationMap).length,\n                    comWhatsApp: withWhatsApp,\n                    semWhatsApp: withoutWhatsApp\n                });\n\n                Object.entries(validationMap).forEach(([number, data]) => {\n                    debugLog(`${number}: ${data.hasWhatsApp ? '✅ TEM' : '❌ NÃO TEM'} WhatsApp`);\n                });\n\n                debugLog('=== FIM VALIDAÇÃO WHATSAPP ===');\n\n                return validationMap;\n\n            } catch (error) {\n                debugLog('Erro na validação WhatsApp:', error);\n                showErrorToast(`⚠️ Erro na validação WhatsApp: ${error.message}. Continuando sem validação.`);\n                return {};\n            }\n        }\n\n        // Process final results\n        function processResults(serpResults, whatsappValidation) {\n            debugLog('=== PROCESSANDO RESULTADOS FINAIS ===');\n            debugLog(`Prospects SerpAPI: ${serpResults.length}`);\n            debugLog(`Validações WhatsApp: ${Object.keys(whatsappValidation).length}`);\n\n            const hasWhatsAppValidation = Object.keys(whatsappValidation).length > 0;\n\n            if (!hasWhatsAppValidation) {\n                debugLog('⚠️ Nenhuma validação WhatsApp disponível - todos serão marcados como \"não verificado\"');\n            }\n\n            const processedResults = serpResults.map((prospect, index) => {\n                debugLog(`[${index + 1}] Processando: ${prospect.title || prospect.name}`);\n\n                const originalPhone = prospect.phone || prospect.telefone;\n                const cleanPhone = originalPhone ? originalPhone.replace(/\\D/g, '') : null;\n\n                debugLog(`   Telefone original: \"${originalPhone}\"`);\n                debugLog(`   Telefone limpo: \"${cleanPhone}\"`);\n\n                let whatsappData = null;\n                let hasWhatsApp = null;\n                let status = 'not_checked';\n\n                if (hasWhatsAppValidation && cleanPhone && whatsappValidation[cleanPhone]) {\n                    whatsappData = whatsappValidation[cleanPhone];\n                    hasWhatsApp = whatsappData.hasWhatsApp;\n                    status = whatsappData.status;\n                    debugLog(`   Encontrado na validação:`, whatsappData);\n                    debugLog(`   Resultado: ${hasWhatsApp ? 'TEM' : 'NÃO TEM'} WhatsApp (status: ${status})`);\n                } else {\n                    debugLog(`   ${hasWhatsAppValidation ? 'NÃO encontrado na validação' : 'Validação não realizada'}`);\n                    debugLog(`   Resultado: NÃO VERIFICADO (status: ${status})`);\n                }\n\n                return {\n                    id: Date.now() + index,\n                    name: prospect.title || prospect.name || 'Nome não disponível',\n                    endereco: prospect.address || prospect.endereco || 'Endereço não disponível',\n                    telefone: originalPhone || 'Telefone não disponível',\n                    email: prospect.email || null,\n                    rating: prospect.rating || 0,\n                    reviews: prospect.reviews || 0,\n                    website: prospect.website || null,\n                    types: prospect.type ? (Array.isArray(prospect.type) ? prospect.type.join(', ') : prospect.type) : 'Categoria não disponível',\n                    hasWhatsApp: hasWhatsApp,\n                    status: status,\n                    category: extractMainCategory(prospect.type || prospect.types || ''),\n                    place_id: prospect.place_id || null,\n                    gps_coordinates: prospect.gps_coordinates || null,\n                    whatsappJid: whatsappData ? whatsappData.jid : null,\n                    debugInfo: debugMode ? {\n                        originalPhone: originalPhone,\n                        cleanPhone: cleanPhone,\n                        whatsappData: whatsappData,\n                        processed: true\n                    } : null\n                };\n            });\n\n            const withWhatsApp = processedResults.filter(p => p.hasWhatsApp === true).length;\n            const withoutWhatsApp = processedResults.filter(p => p.hasWhatsApp === false).length;\n            const notChecked = processedResults.filter(p => p.hasWhatsApp === null).length;\n\n            debugLog('=== RESUMO PROCESSAMENTO ===', {\n                resultadoFinal: `${withWhatsApp} com WhatsApp, ${withoutWhatsApp} sem WhatsApp, ${notChecked} não verificados`\n            });\n\n            return processedResults;\n        }\n\n        // Extract main category from types\n        function extractMainCategory(types) {\n            if (!types) return 'Outros';\n\n            const typesList = types.toLowerCase();\n\n            if (typesList.includes('dental') || typesList.includes('dentist')) return 'Dentista';\n            if (typesList.includes('pet')) return 'Pet Shop';\n            if (typesList.includes('restaurant')) return 'Restaurante';\n            if (typesList.includes('store')) return 'Loja';\n            if (typesList.includes('hospital')) return 'Hospital';\n            if (typesList.includes('school')) return 'Escola';\n            if (typesList.includes('hotel')) return 'Hotel';\n            if (typesList.includes('clinic')) return 'Clínica';\n            if (typesList.includes('pharmacy')) return 'Farmácia';\n            if (typesList.includes('bank')) return 'Banco';\n\n            return 'Outros';\n        }\n\n        // Call SerpAPI with improved error handling\n        async function callSerpAPI(searchTerm, pageNum = 1) {\n            debugLog(`Chamando SerpAPI - Página ${pageNum} - Termo: ${searchTerm}`);\n\n            const resultsLimitInput = document.getElementById('results-limit');\n            const resultsLimit = resultsLimitInput ? (resultsLimitInput.value || 20) : 20;\n\n            const startPosition = (pageNum - 1) * parseInt(resultsLimit);\n\n            const params = new URLSearchParams({\n                engine: SERPAPI_CONFIG.engine,\n                q: searchTerm,\n                api_key: SERPAPI_CONFIG.apiKey,\n                hl: 'pt',\n                gl: 'br',\n                num: resultsLimit.toString()\n            });\n\n            if (pageNum > 1) {\n                params.append('start', startPosition.toString());\n\n                if (searchCoordinates && searchCoordinates.lat && searchCoordinates.lng) {\n                    const lat = parseFloat(searchCoordinates.lat);\n                    const lng = parseFloat(searchCoordinates.lng);\n\n                    if (!isNaN(lat) && !isNaN(lng) && lat >= -90 && lat <= 90 && lng >= -180 && lng <= 180) {\n                        params.append('ll', `@${lat.toFixed(6)},${lng.toFixed(6)},12z`);\n                        debugLog('Usando coordenadas salvas para paginação:', `@${lat.toFixed(6)},${lng.toFixed(6)},12z`);\n                    }\n                }\n            }\n\n            const serpApiUrl = `${SERPAPI_CONFIG.baseUrl}?${params}`;\n            debugLog('URL SerpAPI:', serpApiUrl);\n            debugLog(`Página: ${pageNum}, Start: ${startPosition}, Limite: ${resultsLimit}`);\n\n            for (let i = 0; i < SERPAPI_CONFIG.corsProxies.length; i++) {\n                const proxy = SERPAPI_CONFIG.corsProxies[i];\n                let proxiedUrl;\n\n                if (proxy.includes('codetabs')) {\n                    proxiedUrl = proxy + encodeURIComponent(serpApiUrl);\n                } else if (proxy.includes('allorigins')) {\n                    proxiedUrl = proxy + encodeURIComponent(serpApiUrl);\n                } else {\n                    proxiedUrl = proxy + serpApiUrl;\n                }\n\n                try {\n                    debugLog(`Tentando proxy ${i + 1}: ${proxy}`);\n\n                    const response = await fetch(proxiedUrl, {\n                        method: 'GET',\n                        headers: { 'Accept': 'application/json' }\n                    });\n\n                    debugLog(`Status da resposta proxy: ${response.status}`);\n\n                    if (!response.ok) {\n                        throw new Error(`Proxy error! status: ${response.status}`);\n                    }\n\n                    const proxyData = await response.json();\n                    debugLog('Resposta do proxy recebida:', typeof proxyData);\n\n                    let serpApiData;\n                    try {\n                        if (proxy.includes('allorigins')) {\n                            if (!proxyData.contents) {\n                                throw new Error('Proxy retornou dados vazios');\n                            }\n                            serpApiData = JSON.parse(proxyData.contents);\n                        } else if (proxy.includes('codetabs')) {\n                            serpApiData = proxyData;\n                        } else {\n                            serpApiData = proxyData;\n                        }\n                    } catch (parseError) {\n                        debugLog('Erro ao fazer parse da resposta:', parseError);\n                        throw new Error(`Erro ao processar resposta: ${parseError.message}`);\n                    }\n\n                    debugLog('Dados SerpAPI processados:', Object.keys(serpApiData));\n\n                    if (serpApiData.error) {\n                        debugLog('Erro SerpAPI:', serpApiData.error);\n                        throw new Error(`SerpAPI Error: ${serpApiData.error}`);\n                    }\n\n                    let coordinates = null;\n                    if (pageNum === 1 && serpApiData.search_parameters) {\n                        if (serpApiData.search_metadata && serpApiData.search_metadata.google_maps_url) {\n                            coordinates = extractCoordinatesFromUrl(serpApiData.search_metadata.google_maps_url);\n                        }\n\n                        if (!coordinates && serpApiData.local_results && serpApiData.local_results[0]) {\n                            const firstResult = serpApiData.local_results[0];\n                            if (firstResult.gps_coordinates) {\n                                coordinates = {\n                                    lat: firstResult.gps_coordinates.latitude,\n                                    lng: firstResult.gps_coordinates.longitude\n                                };\n                            }\n                        }\n                    }\n\n                    if (serpApiData.local_results && Array.isArray(serpApiData.local_results)) {\n                        debugLog(`Encontrados ${serpApiData.local_results.length} resultados locais na página ${pageNum}`);\n\n                        const transformedResults = serpApiData.local_results.map((result, index) => ({\n                            id: Date.now() + index,\n                            name: result.title || 'Nome não disponível',\n                            title: result.title || 'Nome não disponível',\n                            endereco: result.address || 'Endereço não disponível',\n                            address: result.address || 'Endereço não disponível',\n                            telefone: result.phone || 'Telefone não disponível',\n                            phone: result.phone || 'Telefone não disponível',\n                            rating: result.rating || 0,\n                            reviews: result.reviews || 0,\n                            website: result.website || null,\n                            types: result.type ? (Array.isArray(result.type) ? result.type.join(', ') : result.type) : 'Categoria não disponível',\n                            type: result.type || 'Categoria não disponível',\n                            place_id: result.place_id || null,\n                            gps_coordinates: result.gps_coordinates || null\n                        }));\n\n                        const hasMore = serpApiData.local_results.length === parseInt(resultsLimit);\n\n                        return {\n                            results: transformedResults,\n                            coordinates: coordinates,\n                            hasMore: hasMore,\n                            totalResults: serpApiData.search_information?.total_results || null\n                        };\n                    } else {\n                        debugLog('Nenhum local_results encontrado na resposta');\n                        debugLog('Estrutura da resposta SerpAPI:', Object.keys(serpApiData));\n\n                        return {\n                            results: [],\n                            coordinates: coordinates,\n                            hasMore: false,\n                            totalResults: 0\n                        };\n                    }\n\n                } catch (error) {\n                    debugLog(`Erro no proxy ${i + 1}:`, error.message);\n\n                    if (i < SERPAPI_CONFIG.corsProxies.length - 1) {\n                        debugLog('Tentando próximo proxy...');\n                        continue;\n                    } else {\n                        throw error;\n                    }\n                }\n            }\n\n            throw new Error('Todos os proxies CORS falharam. Verifique sua conexão.');\n        }\n\n        // Extract coordinates from Google Maps URL\n        function extractCoordinatesFromUrl(url) {\n            try {\n                const patterns = [\n                    /@(-?\\d+\\.?\\d*),(-?\\d+\\.?\\d*)/,\n                    /ll=(-?\\d+\\.?\\d*),(-?\\d+\\.?\\d*)/,\n                    /!3d(-?\\d+\\.?\\d*)!4d(-?\\d+\\.?\\d*)/\n                ];\n\n                for (const pattern of patterns) {\n                    const match = url.match(pattern);\n                    if (match) {\n                        const lat = parseFloat(match[1]);\n                        const lng = parseFloat(match[2]);\n\n                        if (!isNaN(lat) && !isNaN(lng) && lat >= -90 && lat <= 90 && lng >= -180 && lng <= 180) {\n                            return { lat: lat, lng: lng };\n                        }\n                    }\n                }\n\n                return null;\n            } catch (error) {\n                debugLog('Erro ao extrair coordenadas da URL:', error);\n                return null;\n            }\n        }\n\n        // Load next page\n        async function loadNextPage() {\n            if (!hasMoreResults || searchInProgress) return;\n\n            const nextPage = currentPage + 1;\n\n            if (pagesData[nextPage]) {\n                debugLog(`Página ${nextPage} já está em cache, carregando localmente`);\n                currentPage = nextPage;\n                currentPageProspects = pagesData[nextPage];\n\n                applyFiltersToCurrentPage();\n                loadProspects();\n                updatePaginationControls();\n                updateMapMarkers();\n\n                showSuccessToast(`📄 Página ${currentPage} carregada (cache)`);\n                return;\n            }\n\n            debugLog(`Carregando nova página ${nextPage} da API`);\n            searchInProgress = true;\n            await searchProspects(nextPage);\n            searchInProgress = false;\n        }\n\n        // Load previous page\n        function loadPreviousPage() {\n            if (currentPage <= 1 || searchInProgress) return;\n\n            const previousPage = currentPage - 1;\n\n            if (pagesData[previousPage]) {\n                debugLog(`Navegando para página ${previousPage} (cache)`);\n                currentPage = previousPage;\n                currentPageProspects = pagesData[previousPage];\n\n                applyFiltersToCurrentPage();\n                loadProspects();\n                updatePaginationControls();\n                updateMapMarkers();\n\n                showSuccessToast(`📄 Página ${currentPage} carregada`);\n            } else {\n                showErrorToast('❌ Dados da página anterior não disponíveis. Use uma nova busca.');\n                debugLog(`Dados da página ${previousPage} não encontrados`);\n            }\n        }\n\n        // Update pagination controls\n        function updatePaginationControls() {\n            const prevBtn = document.getElementById('prev-btn');\n            const nextBtn = document.getElementById('next-btn');\n            const pageInfo = document.getElementById('page-info');\n            const showingRange = document.getElementById('showing-range');\n            const totalAvailable = document.getElementById('total-available');\n\n            if (prevBtn) {\n                prevBtn.disabled = currentPage <= 1;\n            }\n\n            if (nextBtn) {\n                nextBtn.disabled = !hasMoreResults;\n                nextBtn.innerHTML = hasMoreResults ?\n                    'Próxima <i class=\"bi bi-chevron-right\"></i>' :\n                    'Fim dos resultados';\n            }\n\n            if (pageInfo) {\n                pageInfo.textContent = `Página ${currentPage}`;\n            }\n\n            const currentPageStart = 1;\n            const currentPageEnd = filteredProspects.length;\n\n            if (showingRange) {\n                showingRange.textContent = `${currentPageStart}-${currentPageEnd}`;\n            }\n\n            if (totalAvailable) {\n                const totalLoadedSoFar = allProspects.length;\n                totalAvailable.textContent = hasMoreResults ? `${totalLoadedSoFar}+` : totalLoadedSoFar.toString();\n            }\n        }\n\n        function loadProspects() {\n            console.log('🔧 CARREGANDO PROSPECTS - filteredProspects:', filteredProspects.length);\n\n            const container = document.getElementById('prospects-container');\n            const emptyState = document.getElementById('empty-state');\n\n            if (!container || !emptyState) {\n                console.log('❌ Container ou emptyState não encontrados');\n                return;\n            }\n\n            container.innerHTML = '';\n\n            if (filteredProspects.length === 0) {\n                container.classList.add('d-none');\n                emptyState.classList.remove('d-none');\n                return;\n            }\n\n            container.classList.remove('d-none');\n            emptyState.classList.add('d-none');\n\n            filteredProspects.forEach(prospect => {\n                const prospectElement = createProspectElement(prospect);\n                container.appendChild(prospectElement);\n            });\n\n            updateCounts();\n            updateMapMarkers();\n            updateWebhookButtons();\n        }\n\n        // Create prospect element\n        function createProspectElement(prospect) {\n            const div = document.createElement('div');\n            div.className = 'col-12';\n\n            const isSelected = selectedProspects.has(prospect.id);\n            const formattedPhone = formatPhoneNumber(prospect.telefone);\n\n            div.innerHTML = `\n                <div class=\"card prospect-card fade-in ${isSelected ? 'selected' : ''}\" onclick=\"toggleProspectSelection(${prospect.id})\">\n                    <div class=\"card-body p-3\">\n                        <div class=\"row align-items-start\">\n                            <div class=\"col-auto\">\n                                <div class=\"form-check\">\n                                    <input class=\"form-check-input\" type=\"checkbox\" ${isSelected ? 'checked' : ''} \n                                            onclick=\"event.stopPropagation()\" onchange=\"toggleProspectSelection(${prospect.id})\">\n                                </div>\n                            </div>\n                            <div class=\"col\">\n                                <div class=\"row\">\n                                    <div class=\"col-md-8\">\n                                        <div class=\"d-flex align-items-center mb-2\">\n                                            <h6 class=\"mb-0 me-2 text-truncate\" style=\"max-width: 300px;\" title=\"${prospect.name}\">${prospect.name}</h6>\n                                            <div class=\"d-flex align-items-center gap-1 flex-shrink-0\">\n                                                ${prospect.hasWhatsApp === true ?\n                    '<span class=\"whatsapp-status bg-success text-white\">WhatsApp</span>' :\n                    prospect.hasWhatsApp === false ?\n                        '<span class=\"whatsapp-status bg-danger text-white\">Sem WhatsApp</span>' :\n                        '<span class=\"whatsapp-status bg-secondary text-white\">Não Verificado</span>'\n                }\n                                            </div>\n                                        </div>\n                                        \n                                        <div class=\"small text-muted\">\n                                            <div class=\"d-flex align-items-start mb-1\">\n                                                <i class=\"bi bi-geo-alt me-2 flex-shrink-0 mt-1\"></i>\n                                                <span class=\"text-truncate\" title=\"${prospect.endereco}\">${prospect.endereco}</span>\n                                            </div>\n                                            <div class=\"d-flex align-items-center mb-1\">\n                                                <i class=\"bi bi-telephone me-2 flex-shrink-0\"></i>\n                                                <span class=\"me-2\">${formattedPhone}</span>\n                                                ${prospect.hasWhatsApp === true ?\n                    `<a href=\"https://wa.me/${prospect.telefone.replace(/\\D/g, '')}\" target=\"_blank\" class=\"text-success\">\n                                                        <i class=\"bi bi-whatsapp\"></i>\n                                                    </a>` : ''\n                }\n                                            </div>\n                                            ${prospect.website ? `\n                                                <div class=\"d-flex align-items-center mb-1\">\n                                                    <i class=\"bi bi-globe me-2 flex-shrink-0\"></i>\n                                                    <a href=\"${prospect.website}\" target=\"_blank\" class=\"text-decoration-none text-truncate\" style=\"max-width: 250px;\">\n                                                        ${prospect.website}\n                                                    </a>\n                                                </div>\n                                            ` : ''}\n                                            ${prospect.email ? `\n                                                <div class=\"d-flex align-items-center mb-1\">\n                                                    <i class=\"bi bi-envelope me-2 flex-shrink-0\"></i>\n                                                    <span class=\"text-truncate\" style=\"max-width: 250px;\" title=\"${prospect.email}\">\n                                                        ${prospect.email}\n                                                    </span>\n                                                </div>\n                                            ` : ''}\n                                        </div>\n                                    </div>\n                                    <div class=\"col-md-4 text-md-end\">\n                                        <div class=\"mb-2\">\n                                            ${prospect.rating > 0 ? `\n                                                <div class=\"d-flex align-items-center justify-content-md-end\">\n                                                    <div class=\"rating-stars me-1\">\n                                                        ${generateStars(prospect.rating)}\n                                                    </div>\n                                                    <span class=\"small fw-bold\">${prospect.rating}</span>\n                                                    <span class=\"small text-muted ms-1\">(${prospect.reviews})</span>\n                                                </div>\n                                            ` : '<span class=\"small text-muted\">Sem avaliações</span>'}\n                                        </div>\n                                        <div class=\"d-flex justify-content-md-end\">\n                                            <span class=\"badge bg-primary\">${prospect.category || 'Outros'}</span>\n                                        </div>\n                                        <div class=\"mt-2\">\n                                            <small class=\"text-muted text-truncate d-block\" style=\"max-width: 200px;\" title=\"${prospect.types}\">\n                                                <i class=\"bi bi-tags me-1\"></i>${prospect.types}\n                                            </small>\n                                        </div>\n                                    </div>\n                                </div>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n            `;\n\n            return div;\n        }\n\n        // Format phone number\n        function formatPhoneNumber(phone) {\n            if (!phone) return 'Não informado';\n\n            const cleaned = phone.replace(/\\D/g, '');\n\n            if (cleaned.length === 11) {\n                return `(${cleaned.slice(0, 2)}) ${cleaned.slice(2, 7)}-${cleaned.slice(7)}`;\n            } else if (cleaned.length === 10) {\n                return `(${cleaned.slice(0, 2)}) ${cleaned.slice(2, 6)}-${cleaned.slice(6)}`;\n            }\n\n            return phone;\n        }\n\n        // Generate star rating\n        function generateStars(rating) {\n            const fullStars = Math.floor(rating);\n            const hasHalfStar = rating % 1 !== 0;\n            let stars = '';\n\n            for (let i = 0; i < fullStars; i++) {\n                stars += '<i class=\"bi bi-star-fill\"></i>';\n            }\n\n            if (hasHalfStar) {\n                stars += '<i class=\"bi bi-star-half\"></i>';\n                for (let i = fullStars + 1; i < 5; i++) {\n                    stars += '<i class=\"bi bi-star\"></i>';\n                }\n            } else {\n                for (let i = fullStars; i < 5; i++) {\n                    stars += '<i class=\"bi bi-star\"></i>';\n                }\n            }\n\n            return stars;\n        }\n\n        // Toggle prospect selection\n        function toggleProspectSelection(id) {\n            if (selectedProspects.has(id)) {\n                selectedProspects.delete(id);\n                debugLog(`Prospect ${id} desmarcado`);\n            } else {\n                selectedProspects.add(id);\n                debugLog(`Prospect ${id} marcado`);\n            }\n\n            loadProspects();\n            updateWebhookButtons();\n\n            debugLog(`Total selecionados: ${selectedProspects.size}`);\n        }\n\n        // Select all prospects\n        function selectAll() {\n            filteredProspects.forEach(prospect => {\n                selectedProspects.add(prospect.id);\n            });\n            loadProspects();\n            updateWebhookButtons();\n\n            showSuccessToast(`✅ ${filteredProspects.length} prospects desta página foram selecionados`);\n            debugLog(`Selecionados todos da página atual. Total global: ${selectedProspects.size}`);\n        }\n\n        // Clear selection\n        function clearSelection() {\n            filteredProspects.forEach(prospect => {\n                selectedProspects.delete(prospect.id);\n            });\n\n            loadProspects();\n            updateWebhookButtons();\n\n            showSuccessToast(`🗑️ Seleção da página atual foi limpa`);\n            debugLog(`Limpeza da página atual. Total global restante: ${selectedProspects.size}`);\n        }\n\n        // Clear all selections across all pages\n        function clearAllSelections() {\n            const totalBefore = selectedProspects.size;\n            selectedProspects.clear();\n            loadProspects();\n            updateWebhookButtons();\n\n            showSuccessToast(`🗑️ Todas as seleções foram limpas (${totalBefore} prospects)`);\n            debugLog('Todas as seleções foram limpas');\n        }\n\n        // Update counts\n        function updateCounts() {\n            const selectedCountEl = document.getElementById('selected-count');\n            const resultsCountEl = document.getElementById('results-count');\n            const whatsappCountEl = document.getElementById('whatsapp-count');\n            const noWhatsappCountEl = document.getElementById('no-whatsapp-count');\n            const verifiedCountEl = document.getElementById('verified-count');\n            const avgRatingEl = document.getElementById('avg-rating');\n\n            if (selectedCountEl) selectedCountEl.textContent = selectedProspects.size;\n\n            if (resultsCountEl) {\n                const pageText = currentPage > 1 ? ` (Página ${currentPage})` : '';\n                const filterText = (currentFilters.whatsapp || currentFilters.rating || currentFilters.search) ? ' (filtrado)' : '';\n                resultsCountEl.textContent = `${filteredProspects.length} empresas encontradas${pageText}${filterText}`;\n            }\n\n            const whatsappCount = filteredProspects.filter(p => p.hasWhatsApp === true).length;\n            const noWhatsappCount = filteredProspects.filter(p => p.hasWhatsApp === false).length;\n            const notCheckedCount = filteredProspects.filter(p => p.hasWhatsApp === null).length;\n            const verifiedCount = filteredProspects.filter(p => p.status === 'verified').length;\n\n            const ratingsSum = filteredProspects.reduce((sum, p) => sum + (p.rating || 0), 0);\n            const avgRating = filteredProspects.length > 0 ? (ratingsSum / filteredProspects.length).toFixed(1) : '0.0';\n\n            if (whatsappCountEl) whatsappCountEl.textContent = whatsappCount;\n            if (noWhatsappCountEl) {\n                noWhatsappCountEl.textContent = noWhatsappCount + notCheckedCount;\n                noWhatsappCountEl.parentElement.querySelector('small').textContent =\n                    notCheckedCount > 0 ? `Sem/Não Verificado` : 'Sem WhatsApp';\n            }\n            if (verifiedCountEl) verifiedCountEl.textContent = verifiedCount;\n            if (avgRatingEl) avgRatingEl.textContent = avgRating;\n        }\n\n\n        // Update webhook buttons\n        function updateWebhookButtons() {\n            const webhookBtn = document.getElementById('webhook-btn');\n            const webhookCount = document.getElementById('webhook-count');\n            const webhookAllBtn = document.getElementById('webhook-all-btn');\n            const webhookAllCount = document.getElementById('webhook-all-count');\n\n            if (webhookCount) webhookCount.textContent = selectedProspects.size;\n\n            const hasWebhookUrl = WEBHOOK_CONFIG.url && WEBHOOK_CONFIG.url.trim() !== '';\n            const isCurrentlySending = webhookSendingState.isRunning;\n\n            if (webhookBtn) {\n                if (selectedProspects.size > 0 && hasWebhookUrl && !isCurrentlySending) {\n                    webhookBtn.disabled = false;\n                    webhookBtn.classList.remove('btn-outline-primary');\n                    webhookBtn.classList.add('btn-primary');\n                    webhookBtn.title = '';\n                } else {\n                    webhookBtn.disabled = true;\n                    webhookBtn.classList.remove('btn-primary');\n                    webhookBtn.classList.add('btn-outline-primary');\n                    if (!hasWebhookUrl) {\n                        webhookBtn.title = 'Configure o Webhook primeiro!';\n                    } else if (isCurrentlySending) {\n                        webhookBtn.title = 'Aguarde o envio atual terminar';\n                    }\n                }\n            }\n\n            if (webhookAllBtn && webhookAllCount) {\n                webhookAllCount.textContent = allProspects.length;\n\n                if (allProspects.length > 0 && hasWebhookUrl && !isCurrentlySending) {\n                    webhookAllBtn.disabled = false;\n                    webhookAllBtn.classList.remove('btn-outline-secondary');\n                    webhookAllBtn.classList.add('btn-outline-primary');\n                    webhookAllBtn.title = `Enviar todos os ${allProspects.length} prospects carregados`;\n                } else {\n                    webhookAllBtn.disabled = true;\n                    webhookAllBtn.classList.remove('btn-outline-primary');\n                    webhookAllBtn.classList.add('btn-outline-secondary');\n                    if (!hasWebhookUrl) {\n                        webhookAllBtn.title = 'Configure o Webhook primeiro!';\n                    } else if (isCurrentlySending) {\n                        webhookAllBtn.title = 'Aguarde o envio atual terminar';\n                    } else {\n                        webhookAllBtn.title = 'Faça uma busca primeiro para ativar';\n                    }\n                }\n            }\n        }\n\n        // Send selected prospects to webhook\n        async function sendToWebhook() {\n            if (selectedProspects.size === 0) {\n                showErrorToast('❌ Nenhum prospect selecionado para enviar');\n                return;\n            }\n\n            const selectedData = allProspects.filter(p => selectedProspects.has(p.id));\n            await sendDataToWebhook(selectedData, 'selecionados');\n        }\n\n        // Send all prospects to webhook\n        async function sendAllToWebhook() {\n            if (allProspects.length === 0) {\n                showErrorToast('❌ Nenhum prospect encontrado para enviar. Faça uma busca primeiro!');\n                return;\n            }\n\n            await sendDataToWebhook(allProspects, 'todos');\n        }\n\n        // Send data to webhook with random intervals and pause/stop controls\n        async function sendDataToWebhook(prospects, type) {\n            const webhookBtn = document.getElementById('webhook-btn');\n            const webhookAllBtn = document.getElementById('webhook-all-btn');\n            const pauseBtnContainer = document.getElementById('pause-btn-container');\n            const stopBtnContainer = document.getElementById('stop-btn-container');\n            const pauseBtn = document.getElementById('pause-btn');\n            const statusContainer = document.getElementById('webhook-status-container');\n\n            // Get interval settings (default: 30-60 seconds)\n            const minInterval = parseInt(localStorage.getItem('webhook_min_interval') || '30');\n            const maxInterval = parseInt(localStorage.getItem('webhook_max_interval') || '60');\n\n            // Initialize sending state\n            webhookSendingState = {\n                isRunning: true,\n                isPaused: false,\n                isStopped: false,\n                currentIndex: 0,\n                totalProspects: prospects.length\n            };\n\n            // Show control buttons\n            pauseBtnContainer.classList.remove('d-none');\n            stopBtnContainer.classList.remove('d-none');\n\n            // Show loading status\n            showWebhookStatus('loading', `Iniciando envio de ${prospects.length} prospects...`);\n\n            // Disable main buttons during sending\n            if (webhookBtn) webhookBtn.disabled = true;\n            if (webhookAllBtn) webhookAllBtn.disabled = true;\n\n            let successCount = 0;\n            let errorCount = 0;\n\n            try {\n                debugLog(`Enviando ${prospects.length} prospects para webhook com controles`);\n\n                for (let i = 0; i < prospects.length; i++) {\n                    // Check if stopped\n                    if (webhookSendingState.isStopped) {\n                        showWebhookStatus('error', `❌ Envio interrompido pelo usuário. ${successCount} enviados, ${errorCount} erros.`);\n                        break;\n                    }\n\n                    // Handle pause\n                    while (webhookSendingState.isPaused && !webhookSendingState.isStopped) {\n                        showWebhookStatus('loading', `⏸️ Pausado na empresa ${i + 1}/${prospects.length}. (${successCount} enviados, ${errorCount} erros)`);\n                        await new Promise(resolve => setTimeout(resolve, 1000));\n                    }\n\n                    // Check if stopped after pause\n                    if (webhookSendingState.isStopped) {\n                        showWebhookStatus('error', `❌ Envio interrompido pelo usuário. ${successCount} enviados, ${errorCount} erros.`);\n                        break;\n                    }\n\n                    const prospect = prospects[i];\n                    webhookSendingState.currentIndex = i;\n\n                    // Clean and format phone number\n                    let cleanPhone = '';\n                    if (prospect.telefone && prospect.telefone !== 'Telefone não disponível') {\n                        cleanPhone = prospect.telefone.replace(/\\D/g, '');\n\n                        if (cleanPhone.length >= 10 && !cleanPhone.startsWith('55')) {\n                            cleanPhone = '55' + cleanPhone;\n                        }\n                    }\n\n                    // Prepare individual prospect data\n                    const webhookData = {\n                        nome_empresa: prospect.name,\n                        telefone: cleanPhone || 'Não informado',\n                        telefone_original: prospect.telefone || 'Não informado',\n                        rating_google: prospect.rating || 0,\n                        reviews_google: prospect.reviews || 0,\n                        especialidades: prospect.types || 'Não informado',\n                        site_empresa: prospect.website || 'Não informado',\n                        has_whatsapp: prospect.hasWhatsApp === true ? 'Sim' : prospect.hasWhatsApp === false ? 'Não' : 'Não verificado'\n                    };\n\n                    // Update status\n                    showWebhookStatus('loading',\n                        `Enviando ${i + 1}/${prospects.length}: ${prospect.name}... (${successCount} enviados, ${errorCount} erros)`\n                    );\n\n                    try {\n                        // Send individual prospect to webhook\n                        const response = await fetch(WEBHOOK_CONFIG.url, {\n                            method: 'POST',\n                            headers: {\n                                'Content-Type': 'application/json',\n                            },\n                            body: JSON.stringify({\n                                prospect: webhookData,\n                                prospect_number: i + 1,\n                                total_prospects: prospects.length,\n                                timestamp: new Date().toISOString(),\n                                source: 'Prospecta IA',\n                                evolution_config: {\n                                    url: WHATSAPP_API_CONFIG.baseUrl || 'Não configurado',\n                                    instancia: WHATSAPP_API_CONFIG.instance || 'Não configurado',\n                                    apikey: WHATSAPP_API_CONFIG.apiKey || 'Não configurado'\n                                }\n                            })\n                        });\n\n                        if (response.ok) {\n                            successCount++;\n                            debugLog(`Prospect ${i + 1} enviado com sucesso: ${prospect.name} - Tel: ${cleanPhone}`);\n                        } else {\n                            errorCount++;\n                            const errorText = await response.text();\n                            debugLog(`Erro ao enviar prospect ${i + 1}:`, { status: response.status, error: errorText });\n                        }\n\n                    } catch (error) {\n                        errorCount++;\n                        debugLog(`Erro de conexão no prospect ${i + 1}:`, error);\n                    }\n\n                    // Wait random interval before next send (except for the last one)\n                    if (i < prospects.length - 1 && !webhookSendingState.isStopped) {\n                        const randomInterval = Math.floor(Math.random() * (maxInterval - minInterval + 1)) + minInterval;\n                        debugLog(`Aguardando ${randomInterval}s antes do próximo envio...`);\n\n                        // Show countdown with pause/stop checks\n                        for (let countdown = randomInterval; countdown > 0; countdown--) {\n                            // Check if stopped during countdown\n                            if (webhookSendingState.isStopped) {\n                                break;\n                            }\n\n                            // Handle pause during countdown\n                            while (webhookSendingState.isPaused && !webhookSendingState.isStopped) {\n                                showWebhookStatus('loading', `⏸️ Pausado. Próximo em ${countdown}s quando retomar...`);\n                                await new Promise(resolve => setTimeout(resolve, 1000));\n                            }\n\n                            // Check if stopped after pause\n                            if (webhookSendingState.isStopped) {\n                                break;\n                            }\n\n                            showWebhookStatus('loading',\n                                `Próximo envio em ${countdown}s... (${successCount} enviados, ${errorCount} erros)`\n                            );\n                            await new Promise(resolve => setTimeout(resolve, 1000));\n                        }\n                    }\n                }\n\n                // Final status (only if not stopped)\n                if (!webhookSendingState.isStopped) {\n                    if (errorCount === 0) {\n                        showWebhookStatus('success', `✅ Todos os ${successCount} prospects enviados com sucesso!`);\n                        showSuccessToast(`🚀 Envio concluído! ${successCount} prospects processados pela IA.`);\n                    } else {\n                        showWebhookStatus('success', `⚠️ Envio concluído: ${successCount} sucessos, ${errorCount} erros`);\n                        showSuccessToast(`📊 Envio concluído: ${successCount} enviados, ${errorCount} com erro.`);\n                    }\n                }\n\n                debugLog('Envio em lote concluído:', {\n                    total: prospects.length,\n                    sucessos: successCount,\n                    erros: errorCount,\n                    interrompido: webhookSendingState.isStopped,\n                    type: type,\n                    webhook_url: WEBHOOK_CONFIG.url\n                });\n\n            } catch (error) {\n                console.error('Erro geral no envio:', error);\n                debugLog('Erro geral no webhook:', error);\n\n                showWebhookStatus('error', `❌ Erro geral: ${error.message}`);\n                showErrorToast(`❌ Falha no envio: ${error.message}`);\n            } finally {\n                // Reset sending state\n                webhookSendingState.isRunning = false;\n\n                // Hide control buttons\n                pauseBtnContainer.classList.add('d-none');\n                stopBtnContainer.classList.add('d-none');\n\n                // Re-enable buttons\n                updateWebhookButtons();\n            }\n        }\n\n        // Pause webhook sending\n        function pauseWebhookSending() {\n            const pauseBtn = document.getElementById('pause-btn');\n\n            if (webhookSendingState.isPaused) {\n                // Resume\n                webhookSendingState.isPaused = false;\n                pauseBtn.innerHTML = '<i class=\"bi bi-pause-circle me-2\"></i>Pausar';\n                pauseBtn.className = 'btn btn-warning w-100';\n                showSuccessToast('▶️ Envio retomado!');\n                debugLog('Envio retomado pelo usuário');\n            } else {\n                // Pause\n                webhookSendingState.isPaused = true;\n                pauseBtn.innerHTML = '<i class=\"bi bi-play-circle me-2\"></i>Retomar';\n                pauseBtn.className = 'btn btn-success w-100';\n                showSuccessToast('⏸️ Envio pausado!');\n                debugLog('Envio pausado pelo usuário');\n            }\n        }\n\n        // Stop webhook sending\n        function stopWebhookSending() {\n            const confirmStop = confirm('⚠️ Tem certeza que deseja parar o envio?\\n\\nEsta ação não pode ser desfeita.');\n\n            if (confirmStop) {\n                webhookSendingState.isStopped = true;\n                webhookSendingState.isPaused = false;\n\n                showErrorToast('🛑 Envio interrompido pelo usuário!');\n                debugLog('Envio interrompido pelo usuário');\n\n                // Update status immediately\n                const successCount = webhookSendingState.currentIndex || 0;\n                const errorCount = webhookSendingState.totalProspects - successCount;\n                showWebhookStatus('error', `🛑 Envio interrompido! ${successCount} prospects foram enviados.`);\n            }\n        }\n\n        // Show webhook status\n        function showWebhookStatus(type, message) {\n            const statusContainer = document.getElementById('webhook-status-container');\n            if (!statusContainer) return;\n\n            let statusClass = '';\n            let icon = '';\n\n            switch (type) {\n                case 'loading':\n                    statusClass = 'webhook-loading';\n                    icon = '<i class=\"bi bi-hourglass-split me-2\"></i>';\n                    break;\n                case 'success':\n                    statusClass = 'webhook-success';\n                    icon = '<i class=\"bi bi-check-circle-fill me-2\"></i>';\n                    break;\n                case 'error':\n                    statusClass = 'webhook-error';\n                    icon = '<i class=\"bi bi-exclamation-triangle-fill me-2\"></i>';\n                    break;\n            }\n\n            statusContainer.innerHTML = `\n                <div class=\"webhook-status ${statusClass}\">\n                    ${icon}${message}\n                </div>\n            `;\n\n            // Auto-hide success/error messages after 5 seconds\n            if (type !== 'loading') {\n                setTimeout(() => {\n                    statusContainer.innerHTML = '';\n                }, 5000);\n            }\n        }\n\n        // Handle Enter key in search\n        function handleEnterKey(event) {\n            if (event.key === 'Enter') {\n                searchProspects();\n            }\n        }\n\n        // Filter prospects\n        function filterProspects() {\n            const searchInput = document.getElementById('search-input');\n            if (!searchInput) return;\n\n            currentFilters.search = searchInput.value.trim();\n            console.log('🔧 Filtro de busca atualizado:', currentFilters.search);\n\n            applyFiltersToCurrentPage();\n            loadProspects();\n            updateMapMarkers();\n        }\n\n        // Apply filters\n        function applyFilters() {\n            const whatsappFilter = document.getElementById('whatsapp-filter');\n            const ratingFilter = document.getElementById('rating-filter');\n\n            if (!whatsappFilter || !ratingFilter) return;\n\n            currentFilters.whatsapp = whatsappFilter.value;\n            currentFilters.rating = ratingFilter.value;\n\n            console.log('🔧 Filtros atualizados:', currentFilters);\n\n            applyFiltersToCurrentPage();\n            loadProspects();\n            updateMapMarkers();\n        }\n\n        // Clear filters\n        function clearFilters() {\n            const whatsappFilter = document.getElementById('whatsapp-filter');\n            const ratingFilter = document.getElementById('rating-filter');\n            const searchInput = document.getElementById('search-input');\n\n            if (whatsappFilter) whatsappFilter.value = '';\n            if (ratingFilter) ratingFilter.value = '';\n            if (searchInput) searchInput.value = '';\n\n            currentFilters = {\n                whatsapp: '',\n                rating: '',\n                search: ''\n            };\n\n            console.log('🔧 Filtros limpos');\n\n            applyFiltersToCurrentPage();\n            loadProspects();\n            updateMapMarkers();\n        }\n\n        // Show success toast\n        function showSuccessToast(message) {\n            const toastHtml = `\n                <div class=\"toast-container position-fixed bottom-0 end-0 p-3\">\n                    <div class=\"toast show\" role=\"alert\">\n                        <div class=\"toast-header\">\n                            <i class=\"bi bi-check-circle-fill text-success me-2\"></i>\n                            <strong class=\"me-auto\">Sucesso!</strong>\n                            <button type=\"button\" class=\"btn-close\" data-bs-dismiss=\"toast\"></button>\n                        </div>\n                        <div class=\"toast-body\">\n                            ${message}\n                        </div>\n                    </div>\n                </div>\n            `;\n\n            document.body.insertAdjacentHTML('beforeend', toastHtml);\n\n            setTimeout(() => {\n                const toastElement = document.querySelector('.toast-container');\n                if (toastElement) {\n                    toastElement.remove();\n                }\n            }, 5000);\n        }\n\n        // Show error toast\n        function showErrorToast(message) {\n            const toastHtml = `\n                <div class=\"toast-container position-fixed bottom-0 end-0 p-3\">\n                    <div class=\"toast show\" role=\"alert\">\n                        <div class=\"toast-header\">\n                            <i class=\"bi bi-exclamation-triangle-fill text-danger me-2\"></i>\n                            <strong class=\"me-auto\">Erro!</strong>\n                            <button type=\"button\" class=\"btn-close\" data-bs-dismiss=\"toast\"></button>\n                        </div>\n                        <div class=\"toast-body\">\n                            ${message}\n                        </div>\n                    </div>\n                </div>\n            `;\n\n            document.body.insertAdjacentHTML('beforeend', toastHtml);\n\n            setTimeout(() => {\n                const toastElement = document.querySelector('.toast-container');\n                if (toastElement) {\n                    toastElement.remove();\n                }\n            }, 5000);\n        }\n\n        // Show configuration modal\n        // Show configuration modal\n        function showConfigModal() {\n            const modalHtml = `\n        <div class=\"modal fade\" id=\"configModal\" tabindex=\"-1\">\n            <div class=\"modal-dialog modal-lg\">\n                <div class=\"modal-content\">\n                    <div class=\"modal-header\">\n                        <h5 class=\"modal-title\">\n                            <i class=\"bi bi-gear me-2\"></i>Configurações das APIs\n                        </h5>\n                        <button type=\"button\" class=\"btn-close\" data-bs-dismiss=\"modal\"></button>\n                    </div>\n                    <div class=\"modal-body\">\n                        <!-- SerpAPI Configuration -->\n                        <div class=\"card mb-4\">\n                            <div class=\"card-header\">\n                                <h6 class=\"mb-0\">\n                                    <i class=\"bi bi-search me-2\"></i>Configuração SerpAPI\n                                    <span class=\"badge bg-warning ms-2\">Obrigatório</span>\n                                </h6>\n                            </div>\n                            <div class=\"card-body\">\n                                <div class=\"mb-3\">\n                                    <label class=\"form-label fw-semibold\">API Key SerpAPI</label>\n                                    <input type=\"password\" class=\"form-control\" id=\"serpapi-key\" \n                                            value=\"${SERPAPI_CONFIG.apiKey}\" \n                                            placeholder=\"Sua chave da SerpAPI\">\n                                    <div class=\"form-text\">\n                                        Obtenha sua chave em: <a href=\"https://serpapi.com\" target=\"_blank\">serpapi.com</a>\n                                    </div>\n                                </div>\n                                <button type=\"button\" class=\"btn btn-outline-primary btn-sm\" onclick=\"togglePasswordVisibility('serpapi-key')\">\n                                    <i class=\"bi bi-eye\"></i> Mostrar/Ocultar Chave\n                                </button>\n                            </div>\n                        </div>\n\n                        <!-- WhatsApp API Configuration -->\n                        <div class=\"card mb-4\">\n                            <div class=\"card-header\">\n                                <h6 class=\"mb-0\">\n                                    <i class=\"bi bi-whatsapp me-2\"></i>Configuração WhatsApp API\n                                    <span class=\"badge bg-secondary ms-2\">Opcional</span>\n                                </h6>\n                            </div>\n                            <div class=\"card-body\">\n                                <div class=\"alert alert-info\">\n                                    <i class=\"bi bi-info-circle me-2\"></i>\n                                    <strong>Configuração opcional:</strong> Sem a Evolution API, os números de WhatsApp aparecerão como \"Não Verificado\".\n                                </div>\n                                <div class=\"mb-3\">\n                                    <label class=\"form-label fw-semibold\">URL Base da API WhatsApp</label>\n                                    <input type=\"text\" class=\"form-control\" id=\"whatsapp-base-url\" \n                                            value=\"${WHATSAPP_API_CONFIG.baseUrl}\" \n                                            placeholder=\"https://evolutionapi.seudominio.com.br\">\n                                </div>\n                                <div class=\"mb-3\">\n                                    <label class=\"form-label fw-semibold\">Nome da Instância</label>\n                                    <input type=\"text\" class=\"form-control\" id=\"whatsapp-instance\" \n                                            value=\"${WHATSAPP_API_CONFIG.instance}\" \n                                            placeholder=\"Nome da Instância\">\n                                </div>\n                                <div class=\"mb-3\">\n                                    <label class=\"form-label fw-semibold\">API Key / Token</label>\n                                    <input type=\"password\" class=\"form-control\" id=\"whatsapp-api-key\" \n                                            value=\"${WHATSAPP_API_CONFIG.apiKey}\" \n                                            placeholder=\"Seu token de autenticação\">\n                                </div>\n                                <button type=\"button\" class=\"btn btn-outline-primary btn-sm mb-3\" onclick=\"togglePasswordVisibility('whatsapp-api-key')\">\n                                    <i class=\"bi bi-eye\"></i> Mostrar/Ocultar Token\n                                </button>\n                            </div>\n                        </div>\n\n                        <!-- Webhook Configuration -->\n                        <div class=\"card mb-4\">\n                            <div class=\"card-header\">\n                                <h6 class=\"mb-0\">\n                                    <i class=\"bi bi-send me-2\"></i>Configuração Webhook\n                                    <span class=\"badge bg-warning ms-2\">Obrigatório</span>\n                                </h6>\n                            </div>\n                            <div class=\"card-body\">\n                                <div class=\"alert alert-warning\">\n                                    <i class=\"bi bi-exclamation-triangle me-2\"></i>\n                                    <strong>Configure seu webhook:</strong> URL para onde os dados dos prospects serão enviados (N8N)\n                                </div>\n                                <div class=\"mb-3\">\n                                    <label class=\"form-label fw-semibold\">URL do Webhook</label>\n                                    <input type=\"url\" class=\"form-control\" id=\"webhook-url\" \n                                            value=\"${WEBHOOK_CONFIG.url}\" \n                                            placeholder=\"https://seu-n8n.com/webhook/prospecta-ia\">\n                                    <div class=\"form-text\">\n                                        <strong>Exemplos:</strong><br>\n                                        • N8N: https://seu-n8n.com/webhook/prospecta-ia\n                                    </div>\n                                </div>\n                                <small class=\"text-muted\">\n                                    <strong>Dados enviados:</strong> Nome da Empresa, Telefone, Rating, Reviews, Especialidades, Site e Status WhatsApp\n                                </small>\n                            </div>\n                        </div>\n\n                        <!-- Test APIs -->\n                        <div class=\"card\">\n                            <div class=\"card-header\">\n                                <h6 class=\"mb-0\">\n                                    <i class=\"bi bi-check-circle me-2\"></i>Testar Configurações\n                                </h6>\n                            </div>\n                            <div class=\"card-body\">\n                                <div class=\"row g-2\">\n                                    <div class=\"col-3\">\n                                        <button type=\"button\" class=\"btn btn-outline-success w-100\" onclick=\"testSerpAPI()\">\n                                            <i class=\"bi bi-search me-1\"></i>Testar SerpAPI\n                                        </button>\n                                    </div>\n                                    <div class=\"col-3\">\n                                        <button type=\"button\" class=\"btn btn-outline-success w-100\" onclick=\"testWhatsAppAPI()\">\n                                            <i class=\"bi bi-whatsapp me-1\"></i>Testar WhatsApp\n                                        </button>\n                                    </div>\n                                    <div class=\"col-3\">\n                                        <button type=\"button\" class=\"btn btn-outline-success w-100\" onclick=\"testWebhook()\">\n                                            <i class=\"bi bi-send me-1\"></i>Testar Webhook\n                                        </button>\n                                    </div>\n                                </div>\n                            </div>\n                        </div>\n                    </div>\n                    <div class=\"modal-footer\">\n                        <button type=\"button\" class=\"btn btn-secondary\" data-bs-dismiss=\"modal\">Cancelar</button>\n                        <button type=\"button\" class=\"btn btn-primary\" onclick=\"saveAllConfigs()\">\n                            <i class=\"bi bi-check me-1\"></i>Salvar Todas\n                        </button>\n                    </div>\n                </div>\n            </div>\n        </div>\n    `;\n\n            document.body.insertAdjacentHTML('beforeend', modalHtml);\n            const modal = new bootstrap.Modal(document.getElementById('configModal'));\n            modal.show();\n\n            document.getElementById('configModal').addEventListener('hidden.bs.modal', function () {\n                this.remove();\n            });\n        }\n\n        // Show webhook example\n        function showWebhookExample() {\n            const exampleData = {\n                prospect: {\n                    nome_empresa: \"Exemplo Empresa LTDA\",\n                    telefone: \"5571999999999\",\n                    telefone_original: \"(71) 99999-9999\",\n                    rating_google: 4.5,\n                    reviews_google: 123,\n                    especialidades: \"Consultoria em tecnologia, desenvolvimento de software\",\n                    site_empresa: \"https://exemploempresa.com.br\",\n                    has_whatsapp: \"Sim\"\n                },\n                prospect_number: 1,\n                total_prospects: 10,\n                timestamp: \"2025-01-07T12:00:00Z\",\n                source: \"Prospecta IA\",\n                evolution_config: {\n                    url: \"https://evolutionapi.exemplo.com.br\",\n                    instancia: \"minha_instancia\",\n                    apikey: \"sua_api_key_aqui\"\n                }\n            };\n\n            const modalHtml = `\n        <div class=\"modal fade\" id=\"webhookExampleModal\" tabindex=\"-1\">\n            <div class=\"modal-dialog modal-lg\">\n                <div class=\"modal-content\">\n                    <div class=\"modal-header\">\n                        <h5 class=\"modal-title\">\n                            <i class=\"bi bi-code me-2\"></i>Exemplo de Dados do Webhook\n                        </h5>\n                        <button type=\"button\" class=\"btn-close\" data-bs-dismiss=\"modal\"></button>\n                    </div>\n                    <div class=\"modal-body\">\n                        <p class=\"text-muted\">Este é o formato JSON que será enviado para seu webhook:</p>\n                        <pre class=\"bg-dark text-light p-3 rounded\"><code>${JSON.stringify(exampleData, null, 2)}</code></pre>\n                        <div class=\"alert alert-info mt-3\">\n                            <i class=\"bi bi-info-circle me-2\"></i>\n                            <strong>Importante:</strong> Cada prospect é enviado individualmente com intervalos configuráveis para evitar bloqueios.\n                        </div>\n                    </div>\n                    <div class=\"modal-footer\">\n                        <button type=\"button\" class=\"btn btn-secondary\" data-bs-dismiss=\"modal\">Fechar</button>\n                    </div>\n                </div>\n            </div>\n        </div>\n    `;\n\n            document.body.insertAdjacentHTML('beforeend', modalHtml);\n            const modal = new bootstrap.Modal(document.getElementById('webhookExampleModal'));\n            modal.show();\n\n            document.getElementById('webhookExampleModal').addEventListener('hidden.bs.modal', function () {\n                this.remove();\n            });\n        }\n\n        function togglePasswordVisibility(inputId) {\n            const input = document.getElementById(inputId);\n            const type = input.getAttribute('type') === 'password' ? 'text' : 'password';\n            input.setAttribute('type', type);\n        }\n\n        // Save all configurations\n        function saveAllConfigs() {\n            const serpApiKey = document.getElementById('serpapi-key').value.trim();\n            const baseUrl = document.getElementById('whatsapp-base-url').value.trim();\n            const instance = document.getElementById('whatsapp-instance').value.trim();\n            const whatsappApiKey = document.getElementById('whatsapp-api-key').value.trim();\n            const webhookUrl = document.getElementById('webhook-url').value.trim();\n\n            if (!serpApiKey) {\n                showErrorToast('❌ Por favor, preencha a API Key do SerpAPI (obrigatório).');\n                return;\n            }\n\n            if (!webhookUrl) {\n                showErrorToast('❌ Por favor, configure a URL do Webhook (obrigatório).');\n                return;\n            }\n\n            // Validate webhook URL\n            try {\n                new URL(webhookUrl);\n            } catch {\n                showErrorToast('❌ URL do webhook inválida. Use um formato como: https://exemplo.com/webhook');\n                return;\n            }\n\n            const hasWhatsAppConfig = baseUrl && instance && whatsappApiKey;\n\n            if (!hasWhatsAppConfig) {\n                const proceed = confirm('⚠️ WhatsApp API não foi configurada completamente.\\n\\nSem ela, não será possível validar números de WhatsApp.\\n\\nDeseja continuar mesmo assim?');\n\n                if (!proceed) {\n                    return;\n                }\n            }\n\n            // Save configurations\n            SERPAPI_CONFIG.apiKey = serpApiKey;\n            WHATSAPP_API_CONFIG.baseUrl = baseUrl;\n            WHATSAPP_API_CONFIG.instance = instance;\n            WHATSAPP_API_CONFIG.apiKey = whatsappApiKey;\n            WEBHOOK_CONFIG.url = webhookUrl;\n\n            localStorage.setItem('serpapi_config', JSON.stringify({\n                apiKey: serpApiKey\n            }));\n\n            localStorage.setItem('whatsapp_config', JSON.stringify({\n                baseUrl: baseUrl,\n                instance: instance,\n                apiKey: whatsappApiKey\n            }));\n\n            localStorage.setItem('webhook_config', JSON.stringify({\n                url: webhookUrl\n            }));\n\n            updateSearchButtonState();\n            updateWebhookButtons();\n\n            const modal = bootstrap.Modal.getInstance(document.getElementById('configModal'));\n            modal.hide();\n\n            if (hasWhatsAppConfig) {\n                showSuccessToast('✅ Todas as configurações foram salvas com sucesso!');\n            } else {\n                showSuccessToast('✅ SerpAPI e Webhook configurados! WhatsApp API opcional não configurada.');\n            }\n\n            debugLog('Configurações salvas', {\n                serpapi: true,\n                whatsapp: hasWhatsAppConfig,\n                webhook: !!webhookUrl\n            });\n        }\n\n        // Test SerpAPI\n        async function testSerpAPI() {\n            const testBtn = event.target;\n            const originalText = testBtn.innerHTML;\n\n            try {\n                testBtn.innerHTML = '<span class=\"spinner-border spinner-border-sm me-1\"></span>Testando...';\n                testBtn.disabled = true;\n\n                const serpApiKey = document.getElementById('serpapi-key').value.trim();\n                if (!serpApiKey) {\n                    throw new Error('Por favor, informe a API Key');\n                }\n\n                const params = new URLSearchParams({\n                    engine: 'google_maps',\n                    q: 'restaurante São Paulo',\n                    api_key: serpApiKey,\n                    hl: 'pt',\n                    gl: 'br',\n                    num: '3'\n                });\n\n                const serpApiUrl = `${SERPAPI_CONFIG.baseUrl}?${params}`;\n                debugLog('Testando SerpAPI com:', serpApiUrl);\n\n                let testResult = null;\n\n                try {\n                    const response = await testSerpAPIWithFetch(serpApiUrl);\n                    testResult = response;\n                } catch (error) {\n                    debugLog('Método fetch falhou:', error.message);\n\n                    try {\n                        testResult = await testSerpAPIKeyOnly(serpApiKey);\n                    } catch (error2) {\n                        throw new Error(`Falha nos testes: ${error2.message}`);\n                    }\n                }\n\n                if (testResult && testResult.success) {\n                    testBtn.innerHTML = `<i class=\"bi bi-check-circle me-1\"></i>✅ ${testResult.message}`;\n                    testBtn.className = 'btn btn-success w-100';\n                    debugLog('Teste SerpAPI bem-sucedido');\n                } else {\n                    testBtn.innerHTML = '<i class=\"bi bi-exclamation-triangle me-1\"></i>⚠️ API Key válida';\n                    testBtn.className = 'btn btn-warning w-100';\n                    debugLog('API Key válida mas teste limitado');\n                }\n\n                setTimeout(() => {\n                    testBtn.innerHTML = originalText;\n                    testBtn.className = 'btn btn-outline-success w-100';\n                    testBtn.disabled = false;\n                }, 4000);\n\n            } catch (error) {\n                debugLog('Erro no teste SerpAPI:', error);\n                testBtn.innerHTML = '<i class=\"bi bi-x-circle me-1\"></i>❌ Erro';\n                testBtn.className = 'btn btn-danger w-100';\n\n                setTimeout(() => {\n                    testBtn.innerHTML = originalText;\n                    testBtn.className = 'btn btn-outline-success w-100';\n                    testBtn.disabled = false;\n                }, 4000);\n\n                let errorMessage = error.message;\n                if (error.message.includes('Failed to fetch') || error.message.includes('CORS')) {\n                    errorMessage = 'Bloqueio CORS detectado. A API funcionará nas buscas reais com proxy.';\n                } else if (error.message.includes('Invalid API key')) {\n                    errorMessage = 'API Key inválida. Verifique sua chave no painel SerpAPI.';\n                } else if (error.message.includes('credits')) {\n                    errorMessage = 'Créditos insuficientes na conta SerpAPI.';\n                } else if (error.message.includes('Network')) {\n                    errorMessage = 'Problema de rede. Verifique sua conexão.';\n                }\n\n                alert(`Teste SerpAPI: ${errorMessage}`);\n            }\n        }\n\n        // Test SerpAPI with fetch and proxy\n        async function testSerpAPIWithFetch(serpApiUrl) {\n            for (let i = 0; i < SERPAPI_CONFIG.corsProxies.length; i++) {\n                const proxy = SERPAPI_CONFIG.corsProxies[i];\n                let proxiedUrl;\n\n                if (proxy.includes('codetabs')) {\n                    proxiedUrl = proxy + encodeURIComponent(serpApiUrl);\n                } else if (proxy.includes('allorigins')) {\n                    proxiedUrl = proxy + encodeURIComponent(serpApiUrl);\n                } else {\n                    proxiedUrl = proxy + serpApiUrl;\n                }\n\n                try {\n                    debugLog(`Tentando proxy ${i + 1}: ${proxy}`);\n\n                    const response = await fetch(proxiedUrl, {\n                        method: 'GET',\n                        headers: { 'Accept': 'application/json' }\n                    });\n\n                    debugLog(`Status da resposta proxy: ${response.status}`);\n\n                    if (!response.ok) {\n                        throw new Error(`HTTP ${response.status}`);\n                    }\n\n                    const data = await response.json();\n\n                    let serpApiData;\n                    if (proxy.includes('allorigins') && data.contents) {\n                        serpApiData = JSON.parse(data.contents);\n                    } else if (proxy.includes('codetabs')) {\n                        serpApiData = data;\n                    } else {\n                        serpApiData = data;\n                    }\n\n                    if (serpApiData.error) {\n                        throw new Error(`SerpAPI: ${serpApiData.error}`);\n                    }\n\n                    const hasResults = serpApiData.local_results && serpApiData.local_results.length > 0;\n                    const hasSearchInfo = serpApiData.search_information;\n\n                    if (hasResults || hasSearchInfo) {\n                        return {\n                            success: true,\n                            message: `SerpAPI OK (${serpApiData.local_results?.length || 0} resultados)`,\n                            data: serpApiData\n                        };\n                    } else {\n                        return {\n                            success: true,\n                            message: 'SerpAPI OK (sem resultados)',\n                            data: serpApiData\n                        };\n                    }\n\n                } catch (error) {\n                    debugLog(`Proxy ${i + 1} falhou:`, error.message);\n                    if (i === SERPAPI_CONFIG.corsProxies.length - 1) {\n                        throw error;\n                    }\n                }\n            }\n        }\n\n        // Test only API key validity (simplified)\n        async function testSerpAPIKeyOnly(apiKey) {\n            if (!apiKey || apiKey.length < 32) {\n                throw new Error('Formato de API Key inválido');\n            }\n\n            return {\n                success: false,\n                message: 'Formato válido - teste limitado por CORS'\n            };\n        }\n\n        // Test WhatsApp API\n        async function testWhatsAppAPI() {\n            const testBtn = event.target;\n            const originalText = testBtn.innerHTML;\n\n            try {\n                testBtn.innerHTML = '<span class=\"spinner-border spinner-border-sm me-1\"></span>Testando...';\n                testBtn.disabled = true;\n\n                const baseUrl = document.getElementById('whatsapp-base-url').value.trim();\n                const instance = document.getElementById('whatsapp-instance').value.trim();\n                const apiKey = document.getElementById('whatsapp-api-key').value.trim();\n\n                if (!baseUrl || !instance || !apiKey) {\n                    throw new Error('Por favor, preencha todos os campos obrigatórios');\n                }\n\n                const url = `${baseUrl}/chat/whatsappNumbers/${instance}`;\n\n                const headers = {\n                    'Content-Type': 'application/json',\n                    'apikey': apiKey\n                };\n\n                debugLog('Testando WhatsApp API:', { url, headers: { ...headers, apikey: '***' } });\n\n                const response = await fetch(url, {\n                    method: 'POST',\n                    headers: headers,\n                    body: JSON.stringify({\n                        numbers: ['5571999999999']\n                    })\n                });\n\n                debugLog(`Status da resposta WhatsApp test: ${response.status}`);\n\n                if (!response.ok) {\n                    const errorText = await response.text();\n                    debugLog('Erro HTTP WhatsApp test:', { status: response.status, error: errorText });\n                    throw new Error(`HTTP ${response.status}: ${response.statusText}`);\n                }\n\n                const result = await response.json();\n                debugLog('Resposta do teste WhatsApp:', result);\n\n                if (Array.isArray(result) && result.length > 0 && result[0].hasOwnProperty('exists')) {\n                    const testResult = result[0];\n                    const hasWhatsApp = testResult.exists === true;\n                    const message = `API funcionando! Teste: ${hasWhatsApp ? 'WhatsApp detectado' : 'Sem WhatsApp'}`;\n\n                    testBtn.innerHTML = `<i class=\"bi bi-check-circle me-1\"></i>✅ ${message}`;\n                    testBtn.className = 'btn btn-success w-100';\n                    debugLog('Teste WhatsApp bem-sucedido');\n                } else {\n                    testBtn.innerHTML = '<i class=\"bi bi-check-circle me-1\"></i>✅ API OK';\n                    testBtn.className = 'btn btn-success w-100';\n                    debugLog('API WhatsApp respondendo corretamente');\n                }\n\n                setTimeout(() => {\n                    testBtn.innerHTML = originalText;\n                    testBtn.className = 'btn btn-outline-success w-100';\n                    testBtn.disabled = false;\n                }, 4000);\n\n            } catch (error) {\n                debugLog('Erro no teste WhatsApp:', error);\n\n                let errorMessage = error.message;\n                if (error.message.includes('Failed to fetch')) {\n                    errorMessage = 'Erro de conexão - Verifique URL';\n                } else if (error.message.includes('401')) {\n                    errorMessage = 'API Key inválida';\n                } else if (error.message.includes('404')) {\n                    errorMessage = 'Instância não encontrada';\n                } else if (error.message.includes('500')) {\n                    errorMessage = 'Erro interno da API';\n                } else if (error.message.includes('preencha todos')) {\n                    errorMessage = 'Campos obrigatórios vazios';\n                }\n\n                testBtn.innerHTML = `<i class=\"bi bi-x-circle me-1\"></i>❌ ${errorMessage}`;\n                testBtn.className = 'btn btn-danger w-100';\n\n                setTimeout(() => {\n                    testBtn.innerHTML = originalText;\n                    testBtn.className = 'btn btn-outline-success w-100';\n                    testBtn.disabled = false;\n                }, 4000);\n            }\n        }\n\n        // Test Webhook\n        async function testWebhook() {\n            const testBtn = event.target;\n            const originalText = testBtn.innerHTML;\n\n            try {\n                testBtn.innerHTML = '<span class=\"spinner-border spinner-border-sm me-1\"></span>Testando...';\n                testBtn.disabled = true;\n\n                const webhookUrl = document.getElementById('webhook-url').value.trim();\n\n                if (!webhookUrl) {\n                    throw new Error('Por favor, configure a URL do webhook primeiro');\n                }\n\n                // Validate URL format\n                let validUrl;\n                try {\n                    validUrl = new URL(webhookUrl);\n                } catch {\n                    throw new Error('URL do webhook inválida. Use formato: https://exemplo.com/webhook');\n                }\n\n                // Check if URL is using http/https (not file://)\n                if (!validUrl.protocol.startsWith('http')) {\n                    throw new Error('URL deve usar protocolo HTTP ou HTTPS');\n                }\n\n                debugLog('Testando webhook:', webhookUrl);\n\n                // Send test data\n                const testData = {\n                    prospect: {\n                        nome_empresa: 'Empresa Teste',\n                        telefone: '5571999999999',\n                        telefone_original: '(71) 99999-9999',\n                        rating_google: 4.5,\n                        reviews_google: 123,\n                        especialidades: 'Teste de conectividade',\n                        site_empresa: 'https://exemplo.com.br',\n                        has_whatsapp: 'Sim'\n                    },\n                    prospect_number: 1,\n                    total_prospects: 1,\n                    timestamp: new Date().toISOString(),\n                    source: 'Prospecta IA - Teste',\n                    test: true,\n                    evolution_config: {\n                        url: WHATSAPP_API_CONFIG.baseUrl || 'Não configurado',\n                        instancia: WHATSAPP_API_CONFIG.instance || 'Não configurado',\n                        apikey: WHATSAPP_API_CONFIG.apiKey || 'Não configurado'\n                    }\n                };\n\n                const response = await fetch(webhookUrl, {\n                    method: 'POST',\n                    headers: {\n                        'Content-Type': 'application/json',\n                    },\n                    body: JSON.stringify(testData)\n                });\n\n                debugLog(`Status da resposta webhook test: ${response.status}`);\n\n                if (!response.ok) {\n                    const errorText = await response.text();\n                    debugLog('Erro HTTP webhook test:', { status: response.status, error: errorText });\n                    throw new Error(`HTTP ${response.status}: ${response.statusText}`);\n                }\n\n                const result = await response.text();\n                debugLog('Resposta do teste webhook:', result);\n\n                testBtn.innerHTML = '<i class=\"bi bi-check-circle me-1\"></i>✅ Webhook OK';\n                testBtn.className = 'btn btn-success w-100';\n                debugLog('Teste webhook bem-sucedido');\n\n                setTimeout(() => {\n                    testBtn.innerHTML = originalText;\n                    testBtn.className = 'btn btn-outline-success w-100';\n                    testBtn.disabled = false;\n                }, 4000);\n\n            } catch (error) {\n                debugLog('Erro no teste webhook:', error);\n\n                let errorMessage = error.message;\n                if (error.message.includes('Failed to fetch')) {\n                    errorMessage = 'Erro de conexão - Verifique se a URL está acessível';\n                } else if (error.message.includes('CORS')) {\n                    errorMessage = 'Erro CORS - Configure CORS no seu webhook';\n                } else if (error.message.includes('404')) {\n                    errorMessage = 'Webhook não encontrado (404)';\n                } else if (error.message.includes('500')) {\n                    errorMessage = 'Erro interno do webhook (500)';\n                } else if (error.message.includes('Network')) {\n                    errorMessage = 'Problema de rede ou URL inválida';\n                } else if (error.message.includes('protocolo HTTP')) {\n                    errorMessage = 'Use uma URL com https:// ou http://';\n                }\n\n                testBtn.innerHTML = `<i class=\"bi bi-x-circle me-1\"></i>❌ ${errorMessage}`;\n                testBtn.className = 'btn btn-danger w-100';\n\n                setTimeout(() => {\n                    testBtn.innerHTML = originalText;\n                    testBtn.className = 'btn btn-outline-success w-100';\n                    testBtn.disabled = false;\n                }, 4000);\n            }\n        }\n\n        // Load webhook configuration\n        function loadWebhookConfig() {\n            const savedWebhookConfig = localStorage.getItem('webhook_config');\n            if (savedWebhookConfig) {\n                try {\n                    const config = JSON.parse(savedWebhookConfig);\n                    WEBHOOK_CONFIG.url = config.url || '';\n                    debugLog('Configuração webhook carregada:', config.url);\n                } catch (error) {\n                    debugLog('Erro ao carregar configuração webhook:', error);\n                }\n            }\n        }\n\n        // Load all configurations from localStorage\n        function loadAllConfigs() {\n            const savedSerpApiConfig = localStorage.getItem('serpapi_config');\n            if (savedSerpApiConfig) {\n                try {\n                    const config = JSON.parse(savedSerpApiConfig);\n                    SERPAPI_CONFIG.apiKey = config.apiKey || SERPAPI_CONFIG.apiKey;\n                    debugLog('Configuração SerpAPI carregada');\n                } catch (error) {\n                    debugLog('Erro ao carregar configuração SerpAPI:', error);\n                }\n            }\n\n            const savedWhatsAppConfig = localStorage.getItem('whatsapp_config');\n            if (savedWhatsAppConfig) {\n                try {\n                    const config = JSON.parse(savedWhatsAppConfig);\n                    WHATSAPP_API_CONFIG.baseUrl = config.baseUrl || WHATSAPP_API_CONFIG.baseUrl;\n                    WHATSAPP_API_CONFIG.instance = config.instance || WHATSAPP_API_CONFIG.instance;\n                    WHATSAPP_API_CONFIG.apiKey = config.apiKey || WHATSAPP_API_CONFIG.apiKey;\n                    debugLog('Configuração WhatsApp carregada');\n                } catch (error) {\n                    debugLog('Erro ao carregar configuração WhatsApp:', error);\n                }\n            }\n\n            // Load webhook configuration\n            loadWebhookConfig();\n\n            debugLog('Configurações atuais:', {\n                serpapi: { hasApiKey: !!SERPAPI_CONFIG.apiKey },\n                whatsapp: {\n                    hasBaseUrl: !!WHATSAPP_API_CONFIG.baseUrl,\n                    hasInstance: !!WHATSAPP_API_CONFIG.instance,\n                    hasApiKey: !!WHATSAPP_API_CONFIG.apiKey\n                },\n                webhook: { url: WEBHOOK_CONFIG.url || 'Não configurado' },\n                theme: localStorage.getItem('prospecta_ia_theme') || 'dark'\n            });\n\n            updateSearchButtonState();\n            updateWebhookButtons(); // Add this line\n        }\n\n        // Initialize map\n        function initializeMap() {\n            try {\n                miniMap = L.map('minimap').setView([-14.235, -51.9253], 4);\n\n                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {\n                    attribution: '© OpenStreetMap contributors',\n                    maxZoom: 18\n                }).addTo(miniMap);\n\n                const info = L.control({ position: 'bottomleft' });\n                info.onAdd = function () {\n                    const div = L.DomUtil.create('div', 'map-info');\n                    div.innerHTML = '<small class=\"text-muted\">🔵 Com WhatsApp &nbsp; 🔴 Sem WhatsApp</small>';\n                    div.style.background = 'rgba(255,255,255,0.8)';\n                    div.style.padding = '5px';\n                    div.style.borderRadius = '3px';\n                    return div;\n                };\n                info.addTo(miniMap);\n\n                debugLog('Mapa inicializado com sucesso');\n            } catch (error) {\n                debugLog('Erro ao inicializar mapa:', error);\n            }\n        }\n\n        // Update map markers\n        function updateMapMarkers() {\n            if (!miniMap) return;\n\n            debugLog(`Atualizando marcadores do mapa para ${filteredProspects.length} prospects`);\n\n            mapMarkers.forEach(marker => {\n                miniMap.removeLayer(marker);\n            });\n            mapMarkers = [];\n\n            let markersAdded = 0;\n\n            filteredProspects.forEach((prospect, index) => {\n                let lat, lng;\n\n                if (prospect.gps_coordinates && prospect.gps_coordinates.latitude && prospect.gps_coordinates.longitude) {\n                    lat = prospect.gps_coordinates.latitude;\n                    lng = prospect.gps_coordinates.longitude;\n                } else {\n                    const baseCoords = getBaseCoordinatesFromAddress(prospect.endereco);\n                    if (baseCoords) {\n                        lat = baseCoords.lat + (Math.random() - 0.5) * 0.01;\n                        lng = baseCoords.lng + (Math.random() - 0.5) * 0.01;\n                    } else {\n                        lat = -12.971598 + (Math.random() - 0.5) * 0.1;\n                        lng = -38.501310 + (Math.random() - 0.5) * 0.1;\n                    }\n                }\n\n                if (lat && lng) {\n                    debugLog(`Adicionando marcador para ${prospect.name} em ${lat}, ${lng}`);\n\n                    const markerColor = prospect.hasWhatsApp ? '#28a745' : '#dc3545';\n                    const markerIcon = L.divIcon({\n                        className: 'custom-marker',\n                        html: `<div style=\"background-color: ${markerColor}; width: 12px; height: 12px; border-radius: 50%; border: 2px solid white; box-shadow: 0 2px 4px rgba(0,0,0,0.3);\"></div>`,\n                        iconSize: [16, 16],\n                        iconAnchor: [8, 8]\n                    });\n\n                    const marker = L.marker([lat, lng], { icon: markerIcon });\n\n                    const popupContent = `\n                        <div class=\"prospect-popup\">\n                            <h6>${prospect.name}</h6>\n                            <p class=\"mb-1\"><i class=\"bi bi-geo-alt me-1\"></i>${prospect.endereco}</p>\n                            <p class=\"mb-1\"><i class=\"bi bi-telephone me-1\"></i>${formatPhoneNumber(prospect.telefone)}</p>\n                            ${prospect.rating > 0 ? `\n                                <p class=\"mb-1\">\n                                    <i class=\"bi bi-star-fill text-warning me-1\"></i>\n                                    ${prospect.rating} (${prospect.reviews} avaliações)\n                                </p>\n                            ` : ''}\n                            <div class=\"d-flex gap-1 mt-2\">\n                                <span class=\"badge ${prospect.hasWhatsApp ? 'bg-success' : 'bg-danger'}\">\n                                    ${prospect.hasWhatsApp ? 'WhatsApp' : 'Sem WhatsApp'}\n                                </span>\n                                <span class=\"badge bg-primary\">${prospect.category || 'Outros'}</span>\n                            </div>\n                            ${prospect.hasWhatsApp ? `\n                                <div class=\"mt-2\">\n                                    <a href=\"https://wa.me/${prospect.telefone.replace(/\\D/g, '')}\" target=\"_blank\" class=\"btn btn-success btn-sm\">\n                                        <i class=\"bi bi-whatsapp me-1\"></i>Abrir WhatsApp\n                                    </a>\n                                </div>\n                            ` : ''}\n                        </div>\n                    `;\n\n                    marker.bindPopup(popupContent);\n                    marker.addTo(miniMap);\n                    mapMarkers.push(marker);\n                    markersAdded++;\n                }\n            });\n\n            debugLog(`${markersAdded} marcadores adicionados ao mapa`);\n\n            if (mapMarkers.length > 0) {\n                setTimeout(() => {\n                    const group = new L.featureGroup(mapMarkers);\n                    miniMap.fitBounds(group.getBounds().pad(0.1));\n                }, 100);\n            }\n        }\n\n        // Get base coordinates from address (simplified geocoding)\n        function getBaseCoordinatesFromAddress(address) {\n            if (!address) return null;\n\n            const addressLower = address.toLowerCase();\n\n            if (addressLower.includes('salvador') || addressLower.includes('pituba') || addressLower.includes('barra') || addressLower.includes('ondina')) {\n                return { lat: -12.971598, lng: -38.501310 };\n            }\n\n            if (addressLower.includes('são paulo') || addressLower.includes('sp')) {\n                return { lat: -23.550520, lng: -46.633309 };\n            }\n\n            if (addressLower.includes('rio de janeiro') || addressLower.includes('copacabana') || addressLower.includes('ipanema')) {\n                return { lat: -22.906847, lng: -43.172896 };\n            }\n\n            if (addressLower.includes('belo horizonte') || addressLower.includes('mg')) {\n                return { lat: -19.919054, lng: -43.945973 };\n            }\n\n            if (addressLower.includes('brasília') || addressLower.includes('df')) {\n                return { lat: -15.794229, lng: -47.882166 };\n            }\n\n            return { lat: -14.235, lng: -51.9253 };\n        }\n\n        // Center map on search results\n        function centerMapOnResults() {\n            if (!miniMap || mapMarkers.length === 0) return;\n\n            if (mapMarkers.length === 1) {\n                miniMap.setView(mapMarkers[0].getLatLng(), 15);\n            } else {\n                const group = new L.featureGroup(mapMarkers);\n                miniMap.fitBounds(group.getBounds().pad(0.1));\n            }\n        }\n\n        // Toggle map view (street/satellite)\n        function toggleMapView() {\n            if (!miniMap) return;\n\n            miniMap.eachLayer(function (layer) {\n                if (layer instanceof L.TileLayer) {\n                    miniMap.removeLayer(layer);\n                }\n            });\n\n            if (currentMapView === 'street') {\n                L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {\n                    attribution: '© Esri',\n                    maxZoom: 18\n                }).addTo(miniMap);\n                currentMapView = 'satellite';\n                document.getElementById('map-view-icon').className = 'bi bi-map';\n            } else {\n                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {\n                    attribution: '© OpenStreetMap contributors',\n                    maxZoom: 18\n                }).addTo(miniMap);\n                currentMapView = 'street';\n                document.getElementById('map-view-icon').className = 'bi bi-layers';\n            }\n        }\n\n        // Update filter status display\n        function updateFilterStatus() {\n            const filterStatus = document.getElementById('filter-status');\n            const filterDescription = document.getElementById('filter-description');\n\n            const activeFilters = [];\n\n            if (currentFilters.search && currentFilters.search.trim() !== '') {\n                activeFilters.push(`Busca: \"${currentFilters.search}\"`);\n            }\n\n            if (currentFilters.whatsapp === 'true') {\n                activeFilters.push('Apenas com WhatsApp');\n            } else if (currentFilters.whatsapp === 'false') {\n                activeFilters.push('Sem WhatsApp');\n            }\n        }\n\n        // Show interval configuration modal\n        function showIntervalConfigModal() {\n            const currentMinInterval = localStorage.getItem('webhook_min_interval') || '30';\n            const currentMaxInterval = localStorage.getItem('webhook_max_interval') || '60';\n\n            const modalHtml = `\n        <div class=\"modal fade\" id=\"intervalModal\" tabindex=\"-1\">\n            <div class=\"modal-dialog\">\n                <div class=\"modal-content\">\n                    <div class=\"modal-header\">\n                        <h5 class=\"modal-title\">\n                            <i class=\"bi bi-clock me-2\"></i>Configurar Intervalos de Envio\n                        </h5>\n                        <button type=\"button\" class=\"btn-close\" data-bs-dismiss=\"modal\"></button>\n                    </div>\n                    <div class=\"modal-body\">\n                        <div class=\"alert alert-info\">\n                            <i class=\"bi bi-info-circle me-2\"></i>\n                            <strong>Importante:</strong> Os intervalos ajudam a evitar bloqueios do WhatsApp. Cada prospect será enviado individualmente com um intervalo randômico entre os valores configurados.\n                        </div>\n                        \n                        <div class=\"row g-3\">\n                            <div class=\"col-6\">\n                                <label class=\"form-label fw-semibold\">Intervalo Mínimo (segundos)</label>\n                                <input type=\"number\" class=\"form-control\" id=\"min-interval\" \n                                       value=\"${currentMinInterval}\" min=\"5\" max=\"300\">\n                                <div class=\"form-text\">Mínimo: 5 segundos</div>\n                            </div>\n                            <div class=\"col-6\">\n                                <label class=\"form-label fw-semibold\">Intervalo Máximo (segundos)</label>\n                                <input type=\"number\" class=\"form-control\" id=\"max-interval\" \n                                       value=\"${currentMaxInterval}\" min=\"10\" max=\"600\">\n                                <div class=\"form-text\">Máximo: 600 segundos (10 min)</div>\n                            </div>\n                        </div>\n\n                        <div class=\"mt-3 p-3 bg-warning rounded\">\n                            <small class=\"text-black\">\n                                <strong>Exemplo:</strong> Com intervalos de 30-60s, cada envio aguardará um tempo aleatório entre 30 e 60 segundos antes do próximo.\n                            </small>\n                        </div>\n\n                        <div class=\"mt-3\">\n                            <h6>Presets Recomendados:</h6>\n                            <div class=\"row g-2\">\n                                <div class=\"col-4\">\n                                    <button class=\"btn btn-outline-primary btn-sm w-100\" onclick=\"setIntervalPreset(15, 30)\">\n                                        Rápido<br><small>15-30s</small>\n                                    </button>\n                                </div>\n                                <div class=\"col-4\">\n                                    <button class=\"btn btn-outline-success btn-sm w-100\" onclick=\"setIntervalPreset(30, 60)\">\n                                        Moderado<br><small>30-60s</small>\n                                    </button>\n                                </div>\n                                <div class=\"col-4\">\n                                    <button class=\"btn btn-outline-warning btn-sm w-100\" onclick=\"setIntervalPreset(60, 120)\">\n                                        Seguro<br><small>60-120s</small>\n                                    </button>\n                                </div>\n                            </div>\n                        </div>\n                    </div>\n                    <div class=\"modal-footer\">\n                        <button type=\"button\" class=\"btn btn-secondary\" data-bs-dismiss=\"modal\">Cancelar</button>\n                        <button type=\"button\" class=\"btn btn-primary\" onclick=\"saveIntervalConfig()\">\n                            <i class=\"bi bi-check me-1\"></i>Salvar Configuração\n                        </button>\n                    </div>\n                </div>\n            </div>\n        </div>\n    `;\n\n            document.body.insertAdjacentHTML('beforeend', modalHtml);\n            const modal = new bootstrap.Modal(document.getElementById('intervalModal'));\n            modal.show();\n\n            document.getElementById('intervalModal').addEventListener('hidden.bs.modal', function () {\n                this.remove();\n            });\n        }\n\n        // Set interval preset\n        function setIntervalPreset(min, max) {\n            document.getElementById('min-interval').value = min;\n            document.getElementById('max-interval').value = max;\n        }\n\n        // Save interval configuration\n        function saveIntervalConfig() {\n            const minInterval = parseInt(document.getElementById('min-interval').value);\n            const maxInterval = parseInt(document.getElementById('max-interval').value);\n\n            if (minInterval >= maxInterval) {\n                showErrorToast('❌ O intervalo mínimo deve ser menor que o máximo!');\n                return;\n            }\n\n            if (minInterval < 5) {\n                showErrorToast('❌ O intervalo mínimo deve ser pelo menos 5 segundos!');\n                return;\n            }\n\n            localStorage.setItem('webhook_min_interval', minInterval.toString());\n            localStorage.setItem('webhook_max_interval', maxInterval.toString());\n\n            const modal = bootstrap.Modal.getInstance(document.getElementById('intervalModal'));\n            modal.hide();\n\n            showSuccessToast(`✅ Intervalos configurados: ${minInterval}-${maxInterval} segundos`);\n            debugLog('Intervalos salvos:', { min: minInterval, max: maxInterval });\n        }\n\n        // Update interval display\n        function updateIntervalDisplay() {\n            const minInterval = localStorage.getItem('webhook_min_interval') || '30';\n            const maxInterval = localStorage.getItem('webhook_max_interval') || '60';\n            const intervalDisplay = document.getElementById('current-intervals');\n\n            if (intervalDisplay) {\n                intervalDisplay.textContent = `${minInterval}-${maxInterval} segundos`;\n            }\n\n            updateWebhookDisplay(); // Add this line\n        }\n\n        // Update webhook display\n        function updateWebhookDisplay() {\n            const webhookDisplay = document.getElementById('current-webhook-url');\n\n            if (webhookDisplay) {\n                if (WEBHOOK_CONFIG.url) {\n                    // Show only domain for privacy\n                    try {\n                        const url = new URL(WEBHOOK_CONFIG.url);\n                        webhookDisplay.textContent = url.hostname;\n                    } catch {\n                        webhookDisplay.textContent = 'URL configurada';\n                    }\n                } else {\n                    webhookDisplay.textContent = 'Não configurado';\n                }\n            }\n        }\n\n        // Initialize the application\n        document.addEventListener('DOMContentLoaded', function () {\n            init();\n        });\n    </script>\n</body>\n\n</html>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        304,
        128
      ],
      "id": "be708416-5ffd-46e5-b65d-ecb2516edf2b",
      "name": "HTML"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $item(\"0\").$node[\"HTML\"].json[\"html\"] }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              },
              {
                "name": "X-Frame-Options",
                "value": "SAMEORIGIN"
              },
              {
                "name": "Cache-Control",
                "value": "no-cache"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        528,
        128
      ],
      "id": "73a67c15-9a43-40e6-ad93-6ca7f3691d54",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "path": "painelProspectaIA",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        80,
        128
      ],
      "id": "1cdd679b-5bfc-4c9c-a7aa-478f5e528108",
      "name": "Painel",
      "webhookId": "c96d1a1b-14dd-457e-a6a9-d2a765328d88"
    },
    {
      "parameters": {
        "content": "## Inteligência do Prospecta IA",
        "height": 680,
        "width": 3120
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        368
      ],
      "typeVersion": 1,
      "id": "7f735f40-4e75-4456-b06d-af6a0ec5e7e1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Painel do Prospecta IA ",
        "height": 340,
        "width": 840,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "e10ce3d1-a1b9-432c-9d4d-5e717af5bc72",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Prompt\n**modifique aqui seu prompt**",
        "height": 360,
        "width": 220,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        464,
        464
      ],
      "typeVersion": 1,
      "id": "be2883e4-31fa-45fb-b383-ab42c5c092cd",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "tableId": "leadsProspectaIA",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "empresa",
              "fieldValue": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospect\"][\"nome_empresa\"] }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospect\"][\"telefone\"] }}"
            },
            {
              "fieldId": "rating",
              "fieldValue": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospect\"][\"rating_google\"] }}"
            },
            {
              "fieldId": "review",
              "fieldValue": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospect\"][\"reviews_google\"] }}"
            },
            {
              "fieldId": "especialidades",
              "fieldValue": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospect\"][\"especialidades\"] }}"
            },
            {
              "fieldId": "site",
              "fieldValue": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospect\"][\"site_empresa\"] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        752,
        672
      ],
      "id": "d0faded8-ae3c-462f-9e23-3349237fb795",
      "name": "Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "RvoogjppNjIrBNrO",
          "name": "Supabase Igor Batista"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leadsProspectaIA",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospect\"][\"telefone\"] }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "disparo",
              "fieldValue": "sim"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2656,
        464
      ],
      "id": "a9f61172-06a5-4737-9e73-8f96d5c5423f",
      "name": "Supabase1",
      "credentials": {
        "supabaseApi": {
          "id": "RvoogjppNjIrBNrO",
          "name": "Supabase Igor Batista"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.agenciaart.com.br",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36",
            "content-length": "528",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7,es-ES;q=0.6,es;q=0.5",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "2804:14c:de89:8724:317d:1d21:82e4:ad0e",
            "cf-ipcountry": "BR",
            "cf-ray": "97904cc7da5130f5-EWR",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-warp-tag-id": "5e5a4170-93a7-4138-91aa-2712a38e2316",
            "connection": "keep-alive",
            "content-type": "application/json",
            "cookie": "_ga=GA1.1.1907779603.1743681989; _fbp=fb.2.1743681988728.889363025979571150; _ga_8GKHFK7BYB=GS2.1.s1749588086$o6$g1$t1749588153$j60$l0$h2018722869",
            "origin": "https://webhook.agenciaart.com.br",
            "priority": "u=1, i",
            "referer": "https://webhook.agenciaart.com.br/webhook/painelProspectaIA",
            "sec-ch-ua": "\"Not;A=Brand\";v=\"99\", \"Google Chrome\";v=\"139\", \"Chromium\";v=\"139\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "same-origin",
            "x-forwarded-for": "2804:14c:de89:8724:317d:1d21:82e4:ad0e",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {},
          "body": {
            "prospect": {
              "nome_empresa": "Bruno Mudanças & Transportes Campinas",
              "telefone": "5519997883700",
              "telefone_original": "+55 19 99788-3700",
              "rating_google": 4.8,
              "reviews_google": 121,
              "especialidades": "Empresa de transporte rodoviário",
              "site_empresa": "http://www.brunomudancas.com.br/",
              "has_whatsapp": "Sim"
            },
            "prospect_number": 5,
            "total_prospects": 35,
            "timestamp": "2025-09-02T22:03:52.747Z",
            "source": "Prospecta IA",
            "evolution_config": {
              "url": "https://evo.fmakers.com.br",
              "instancia": "igor",
              "apikey": "CF265EC1BBB5-452F-A0BC-AA658E72B238"
            }
          },
          "webhookUrl": "https://webhook.agenciaart.com.br/webhook/painelProspectaIA",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardar Mensagem": {
      "main": [
        [
          {
            "node": "Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API": {
      "main": [
        [
          {
            "node": "prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scraper Site": {
      "main": [
        [
          {
            "node": "OpenAI Com Site",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Site": {
      "main": [
        [
          {
            "node": "Scraper Site",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI Sem Site",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Sem Site": {
      "main": [
        [
          {
            "node": "Aguardar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Com Site": {
      "main": [
        [
          {
            "node": "Aguardar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia WhatsApp": {
      "main": [
        [
          {
            "node": "Aguardar Envio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagens": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardar Envio": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Envia WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prompt": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Painel": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Verificar Site",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "Finalizou",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "09624065-b1ed-4313-9ee6-346879fc0ab6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b4662a38c7b55b9640a6712cee81e3f0ee65d6014f679d8418e5fae3c21edee1"
  },
  "id": "eQnQDWGnBdxjXtwI",
  "tags": []
}